@charset "utf-8";
/* html, body {max-width: 100%; overflow-x: hidden;} */

.win{width: 100%; position: relative;}
.win .window-wrap{max-width: 100%;}
.win .window-wrap .window-box{max-width: 1500px; height: 900px; border: 2px solid #000;  border-radius: 10px; position: relative;  box-sizing: border-box; margin: 50px 20px 0 300px ;}
.win .window-wrap .window-box .box-content .line-box{max-width: 1500px; height: 25px; border-bottom: 2px solid #000;}
.win .window-wrap .window-box .box-content .dot1{width: 15px; height: 15px; background-color: #4b4b4b; border-radius: 50%; position: absolute; left: 10px; top: 5px;}
.win .window-wrap .window-box .box-content .dot2{width: 15px; height: 15px; background-color: #7d7d7d; border-radius: 50%; position: absolute; left: 30px; top: 5px;}
.win .window-wrap .window-box .box-content .dot3{width: 15px; height: 15px; background-color: #7d7d7d; border-radius: 50%; position: absolute; left: 50px; top: 5px;}
.win .window-wrap .window-box .box-content .close{position: absolute; right: 10px; top: 0; font-size: 20px; font-weight: bold;}

.win .left-box{width: 500px;}
.win .left-box .profile{max-width: 400px; position: absolute; top: 13%; left: 5%;}
.win .left-box .profile-pic{width: 350px;}
.win .left-box .profile-pic img{width: 100%; box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.15);}
.win .profile .profile-content{position: absolute;}
.win .profile .profile-box1,
.win .profile .profile-box2,
.win .profile .profile-box3,
.win .profile .profile-box4
{margin-left: 5px; width: 330px; height: 50px; border: 1px solid #000; margin-top: 30px; position: relative; background-color: #fff; box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);}

.win .profile-content h4{display: inline-block; width: 100px; padding: 13px;}
.win .profile-content h4:last-child{width: 310px; text-align: center;}
.win .profile-content p{display: inline-block; width: 300px; font-weight: bold;}
.win .profile-content p:nth-child(2){text-align: right; width: 190px;}

.win .right-box{overflow:auto; max-width: 900px; height: 700px; position: absolute; top: 13%; left: 38%;}
.win .right-wrap{max-width: 850px; height: 950px; border: 2px solid #000;}
.win .right-wrap h2{font-weight: bold; font-size: 25px; margin: 20px 40px; font-family: 'S-CoreDream-9Black';}
.win .right-wrap .edu{max-width: 100%; height: 140px; border-bottom: 2px solid #000;}
.win .right-wrap .edu p{font-weight: bold; width: 71%;  margin: 0 auto;}

.win .right-wrap .skill-like{max-width: 850px;}
.win .right-wrap .skill{width: 54%; height: 380px; border-right: 2px solid #000; float: left;}
.win .right-wrap .skill .desc{position: relative; left: 11%;}
.win .right-wrap .skill .desc img{margin-bottom: 30px; text-align: center;}
.win .right-wrap .skill .desc .ps{margin-top: 30px;}
.win .right-wrap .skill p{display: inline-block; max-width: 350px; font-size: 13px; text-align: left; position: absolute; margin-top: 12px; margin-left: 35px; font-weight: bold;}

.win .right-wrap .like{width: 34%; height: 380px; float: left;}
.win .right-wrap .like ul{display: grid; grid-template-rows: repeat(2, 110px);grid-template-columns: repeat(3, 110px); width: 210px; margin: 40px auto;}
.win .right-wrap .like ul li{text-align: center; font-weight: bold; font-size: 14px; margin-top: 10px; transform: translate(-10%);}
.win .right-wrap .like ul li img{width: 60%;}

.flow-container{width: 100%; height: 35px; background-color: #000; display: inline-block;}
.flow-container .flow-text{font-style: italic; font-weight: bold; color: #fff; font-size: 15px; line-height: 35px; text-transform: uppercase;}
.flow-text {display: flex; flex: 0 0 auto; white-space: nowrap; overflow: hidden; transition: 0.5s; color: #9D9993;}
.flow-text:hover .flow-wrap {animation-play-state: paused; cursor: default;}
.flow-wrap {animation: textLoop 80s linear infinite;}
@keyframes textLoop {
    0% {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
    100% {-webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
}

.win .right-box .pos{position: relative;}
.win .right-box .pos ul{width: 90%; margin: 0 auto;}
.win .right-box .pos ul li{margin-bottom: 50px;}
.win .right-box .pos ul li h3{width: 90px; height: 40px; border: 2px solid #000; text-align: center; border-radius: 50%; line-height: 40px; font-weight: bold; margin-top: 5%;}
.win .right-box .pos ul li p{max-width: 600px; text-align: left; position: absolute; left: 22%; font-weight: bold; margin-top: -45px;}


@media screen and (min-width: 1636px) and (max-width: 1735px){
    .win .line{left: 35%;}

    .win .right-box{max-width: 800px; height: 700px; left: 39%;}
    .win .right-wrap .edu p{width: 80%;}

    .win .right-wrap .skill-like{max-width: 800px;}
    .win .right-wrap .skill p{ margin-top: 10px; margin-left: 20px;}    
}

@media screen and (min-width: 1536px) and (max-width: 1635px){

    .win .right-box{max-width: 750px; height: 700px; left: 38%;}
    .win .right-wrap .edu p{width: 85%;}

    .win .right-wrap .skill-like{max-width: 800px;}
    .win .right-wrap .skill p{margin-top: 5px; margin-left: 10px;} 
    .win .right-wrap .skill .desc{left: 10%;}     
    .win .right-wrap .skill .desc img{width: 50px;}  

    .win .right-box .pos ul{margin-top: 30px;}

    .win .right-box .pos ul li p{max-width: 500px; left: 25%;}
    
}

@media screen and (min-width: 1456px) and (max-width: 1540px){

    .win .right-box{max-width: 700px; height: 700px; left: 38%;}
    .win .right-wrap{max-width: 700px; height: 1090px;}
    .win .right-wrap .edu p{text-align: center; width: 90%;; font-size: 15px;}

    .win .right-wrap .skill-like{max-width: 700px;}
    .win .right-wrap .skill{width: 100%; height: 350px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 0; margin-left: 21%;}
    .win .right-wrap .skill .desc img{width: 50px;} 
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 7px; margin-left: 60px;}

    .win .right-wrap .like{width: 100%; height: 190px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 90px); width: 500px; height: 0px; margin: 0px 55px; gap: 10px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: 0px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 30px;}
    .win .right-box .pos ul li h3{width: 90px; height: 40px; line-height: 40px;margin-left: 20px;}
    .win .right-box .pos ul li p{max-width: 450px; left: 27%; font-size: 14px;}
}

@media screen and (min-width: 1351px) and (max-width: 1455px){
    .win .window-wrap .window-box{margin: 50px 20px 0 270px;}

    .win .left-box .profile{top: 12%; left: 5%;}
    .win .left-box .profile-pic{width: 300px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 290px; margin-top: 50px;}

    .win .profile-content h4{width: 80px; padding: 16px; font-size: 14px;}
    .win .profile-content h4:last-child{width: 270px;}
    .win .profile-content p:nth-child(2){width: 165px; font-size: 14px;}

    .win .right-box{max-width: 650px; height: 700px; left: 38%;}
    .win .right-wrap{max-width: 700px; height: 1090px;}
    .win .right-wrap .edu p{text-align: center; width: 90%;; font-size: 15px;}

    .win .right-wrap .skill-like{max-width: 650px;}
    .win .right-wrap .skill{width: 100%; height: 350px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 0; margin-left: 18%;}
    .win .right-wrap .skill .desc img{width: 50px;} 
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 7px; margin-left: 60px;}

    .win .right-wrap .like{width: 100%; height: 190px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 80px); width: 500px; height: 0px; margin: 0px 55px; gap: 10px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: 0px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul li h3{width: 90px; height: 40px; line-height: 40px;margin-left: 20px; font-size: 15px;}
    .win .right-box .pos ul li p{max-width: 430px; left: 27%; font-size: 14px;}
}

@media screen and (min-width: 1236px) and (max-width: 1350px){
    .win .window-wrap .window-box{margin: 50px 20px 0 250px;}

    .win .left-box .profile{top: 10%; left: 4%;}
    .win .left-box .profile-pic{width: 300px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 290px; margin-top: 50px;}

    .win .profile-content h4{width: 80px; padding: 16px; font-size: 14px;}
    .win .profile-content h4:last-child{width: 270px;}
    .win .profile-content p:nth-child(2){width: 165px; font-size: 14px;}

    .win .right-box{max-width: 580px; height: 730px; top: 10%; left: 41%; overflow-x: hidden;}
    .win .right-wrap{max-width: 540px; height: 980px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 62%; margin-top: 5px; font-size: 14px;}

    .win .right-wrap .skill-like{max-width: 540px;}
    .win .right-wrap .skill{width: 87%; height: 280px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 15%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 40px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 60px;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 80px); width: 500px; height: 0px; margin: 0px 30px; gap: 5px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 30px;}
    .win .right-box .pos ul li h3{font-size: 15px; width: 80px; height: 30px; line-height: 30px;}
    .win .right-box .pos ul li p{max-width: 350px; font-size: 13px; left: 27%; font-weight: bold; margin-top: -35px;}
}

@media screen and (min-width: 1201px) and (max-width: 1235px){
    .win .window-wrap .window-box{margin: 50px 20px 0 240px;}
    .win .window-wrap .window-box .box-content .dot1,
    .win .window-wrap .window-box .box-content .dot2,
    .win .window-wrap .window-box .box-content .dot3{width: 14px; height: 14px;}
    .win .window-wrap .window-box .box-content .close{font-size: 18px;}

    .win .left-box .profile{top: 10%; left: 3%;}
    .win .left-box .profile-pic{width: 300px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 290px; margin-top: 50px;}

    .win .profile-content h4{width: 80px; padding: 16px; font-size: 14px;}
    .win .profile-content h4:last-child{width: 270px;}
    .win .profile-content p:nth-child(2){width: 165px; font-size: 14px;}

    .win .right-box{max-width: 550px; height: 730px; top: 10%; left: 41%; overflow-x: hidden;}
    .win .right-wrap{max-width: 550px; height: 980px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 62%; margin-top: 5px; font-size: 14px;}

    .win .right-wrap .skill-like{max-width: 540px;}
    .win .right-wrap .skill{width: 87%; height: 280px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 15%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 40px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 60px;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 80px); width: 500px; height: 0px; margin: 0px 25px; gap: 5px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 30px;}
    .win .right-box .pos ul li h3{font-size: 15px; width: 80px; height: 30px; line-height: 30px;}
    .win .right-box .pos ul li p{max-width: 350px; font-size: 13px; left: 27%; font-weight: bold; margin-top: -35px;}
    
}

@media screen and (min-width: 1074px) and (max-width: 1200px){
    .win .window-wrap .window-box{margin: 50px 20px 0 230px;}
    .win .window-wrap .window-box .box-content .dot1,
    .win .window-wrap .window-box .box-content .dot2,
    .win .window-wrap .window-box .box-content .dot3{width: 14px; height: 14px;}
    .win .window-wrap .window-box .box-content .close{font-size: 18px;}

    .win .left-box .profile{top: 10%; left: 3%;}
    .win .left-box .profile-pic{width: 300px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 290px; margin-top: 50px;}

    .win .profile-content h4{width: 80px; padding: 16px; font-size: 14px;}
    .win .profile-content h4:last-child{width: 270px;}
    .win .profile-content p:nth-child(2){width: 165px; font-size: 14px;}

    .win .right-box{max-width: 540px; height: 730px; top: 10%; left: 41%; overflow-x: hidden;}
    .win .right-wrap{max-width: 540px; height: 980px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 62%; margin-top: 5px; font-size: 14px;}

    .win .right-wrap .skill-like{max-width: 540px;}
    .win .right-wrap .skill{width: 87%; height: 280px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 15%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 40px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 60px;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 80px); width: 500px; height: 0px; margin: 0px 20px; gap: 5px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 30px;}
    .win .right-box .pos ul li h3{font-size: 15px; width: 80px; height: 30px; line-height: 30px;}
    .win .right-box .pos ul li p{max-width: 350px; font-size: 13px; left: 27%; font-weight: bold; margin-top: -35px;}
    
}

@media screen and (min-width: 1105px) and (max-width: 1170px){
    .win .window-wrap .window-box{margin: 50px 20px 0 230px;}
    .win .window-wrap .window-box .box-content .dot1,
    .win .window-wrap .window-box .box-content .dot2,
    .win .window-wrap .window-box .box-content .dot3{width: 14px; height: 14px;}
    .win .window-wrap .window-box .box-content .close{font-size: 18px;}

    .win .left-box .profile{top: 10%; left: 2%;}
    .win .left-box .profile-pic{width: 300px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 290px; margin-top: 50px;}

    .win .profile-content h4{width: 80px; padding: 16px; font-size: 14px;}
    .win .profile-content h4:last-child{width: 270px;}
    .win .profile-content p:nth-child(2){width: 165px; font-size: 14px;}

    .win .right-box{max-width: 500px; height: 730px; top: 10%; left: 41%; overflow-x: hidden;}
    .win .right-wrap{max-width: 500px; height: 980px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 62%; margin-top: 5px; font-size: 14px;}

    .win .right-wrap .skill-like{max-width: 540px;}
    .win .right-wrap .skill{width: 87%; height: 280px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 15%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 40px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 60px;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 500px; height: 0px; margin: 0px 40px; gap: 1px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 30px;}
    .win .right-box .pos ul li h3{font-size: 15px; width: 80px; height: 30px; line-height: 30px;}
    .win .right-box .pos ul li p{max-width: 320px; font-size: 13px; left: 27%; font-weight: bold; margin-top: -35px;}
    
}


@media screen and (min-width: 900px) and (max-width: 1104px){

    .win .window-wrap .window-box{max-width: 100%; height: 2200px; margin: 100px auto;}
    .win .window-wrap .window-box{margin: 50px 20px 0 230px;}
    .win .window-wrap .window-box .box-content .dot1,
    .win .window-wrap .window-box .box-content .dot2,
    .win .window-wrap .window-box .box-content .dot3{width: 14px; height: 14px;}
    .win .window-wrap .window-box .box-content .close{font-size: 18px;}

    .win .left-box .profile{top: 7%; left: 25%;}
    .win .left-box .profile-pic{width: 400px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 380px;}


    .win .profile-content h4:last-child{width: 350px;}
    .win .profile-content p:nth-child(2){width: 240px;}

    .win .right-box{max-width: 100%; height: 1100px; top: 50%; left: 2.2%; overflow: hidden;}
    .win .right-wrap{max-width: 95%; height: 1050px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 80%; margin-top: 5px;font-size: 16px;}

    .win .right-wrap .skill-like{max-width: 100%;}
    .win .right-wrap .skill{width: 100%; height: 320px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 19%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 50px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 70px; font-size: 16px; width: 50%;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 75px); width: 100%; height: 0px; margin: 0px 150px; gap: 10px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 40px;}
    .win .right-box .pos ul li:nth-child(2) p{margin-top: -45px;}
    .win .right-box .pos ul li h3{font-size: 16px; width: 100px; height: 40px; line-height: 40px;}
    .win .right-box .pos ul li p{max-width: 500px; font-size: 15px; left: 25%; font-weight: bold; margin-top: -55px;}

    .footer{position: relative;}
    
}

@media screen and (min-width: 1025px) and (max-width: 1060px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 75px); width: 100%; height: 0px; margin: 0px 140px; gap: 10px;}
}
@media screen and (min-width: 991px) and (max-width: 1024px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 75px); width: 100%; height: 0px; margin: 0px 130px; gap: 10px;}
}
@media screen and (min-width: 971px) and (max-width: 990px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 75px); width: 100%; height: 0px; margin: 0px 120px; gap: 10px;}
}
@media screen and (min-width: 951px) and (max-width: 970px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 75px); width: 100%; height: 0px; margin: 0px 110px; gap: 10px;}
}
@media screen and (min-width: 931px) and (max-width: 950px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 75px); width: 100%; height: 0px; margin: 0px 90px; gap: 10px;}
}
@media screen and (min-width: 900px) and (max-width: 930px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 75px); width: 100%; height: 0px; margin: 0px 70px; gap: 10px;}
}

@media screen and (min-width: 831px) and (max-width: 899px){

    .win .window-wrap .window-box{max-width: 100%; height: 2200px; margin: 100px auto;}
    .win .window-wrap .window-box{margin: 50px 20px 0 230px;}
    .win .window-wrap .window-box .box-content .dot1,
    .win .window-wrap .window-box .box-content .dot2,
    .win .window-wrap .window-box .box-content .dot3{width: 14px; height: 14px;}
    .win .window-wrap .window-box .box-content .close{font-size: 18px;}

    .win .left-box .profile{top: 5%; left: 20%;}
    .win .left-box .profile-pic{width: 400px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 380px;}


    .win .profile-content h4:last-child{width: 350px;}
    .win .profile-content p:nth-child(2){width: 240px;}

    .win .right-box{max-width: 100%; height: 1100px; top: 50%; left: 2.2%; overflow: hidden;}
    .win .right-wrap{max-width: 95%; height: 1050px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 80%; margin-top: 5px;font-size: 16px;}

    .win .right-wrap .skill-like{max-width: 100%;}
    .win .right-wrap .skill{width: 100%; height: 320px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 15%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 50px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 70px; font-size: 16px; width: 60%;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 500px; height: 0px; margin: 0px 70px; gap: 10px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 40px;}
    .win .right-box .pos ul li:nth-child(2) p{margin-top: -45px;}
    .win .right-box .pos ul li h3{font-size: 16px; width: 100px; height: 40px; line-height: 40px;}
    .win .right-box .pos ul li p{max-width: 400px; font-size: 15px; left: 27%; font-weight: bold; margin-top: -55px;}

    .footer{position: relative;}
    
}

@media screen and (min-width: 831px) and (max-width: 870px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 100%; height: 0px; margin: 0px 50px; gap: 10px;}
}


@media screen and (min-width: 730px) and (max-width: 830px){
    .win .window-wrap .window-box{max-width: 100%; height: 2200px; margin: 100px auto;}
    .win .window-wrap .window-box{margin: 50px 20px 0 230px;}
    .win .window-wrap .window-box .box-content .dot1,
    .win .window-wrap .window-box .box-content .dot2,
    .win .window-wrap .window-box .box-content .dot3{width: 14px; height: 14px;}
    .win .window-wrap .window-box .box-content .close{font-size: 18px;}

    .win .left-box .profile{top: 5%; left: 11%;}
    .win .left-box .profile-pic{width: 400px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 380px;}


    .win .profile-content h4:last-child{width: 350px;}
    .win .profile-content p:nth-child(2){width: 240px;}

    .win .right-box{max-width: 100%; height: 1100px; top: 50%; left: 2.2%; overflow: hidden;}
    .win .right-wrap{max-width: 95%; height: 1050px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 80%; margin-top: 5px;font-size: 15px;}

    .win .right-wrap .skill-like{max-width: 100%;}
    .win .right-wrap .skill{width: 100%; height: 320px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 15%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 50px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 40px; font-size: 14px; width: 60%;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 500px; height: 0px; margin: 0px 60px; gap: 0px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 40px;}
    .win .right-box .pos ul li:nth-child(2) p{margin-top: -45px;}
    .win .right-box .pos ul li h3{font-size: 16px; width: 80px; height: 30px; line-height: 30px;}
    .win .right-box .pos ul li p{max-width: 400px; font-size: 14px; left: 27%; font-weight: bold; margin-top: -55px;}

    .footer{position: relative;}   
}
@media screen and (min-width: 780px) and (max-width: 800px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 100%; height: 0px; margin: 0px 50px; gap: 0px;}
}
@media screen and (min-width: 760px) and (max-width: 779px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 100%; height: 0px; margin: 0px 40px; gap: 0px;}
}
@media screen and (min-width: 740px) and (max-width: 759px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 100%; height: 0px; margin: 0px 25px; gap: 0px;}
}
@media screen and (min-width: 730px) and (max-width: 739px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 100%; height: 0px; margin: 0px 20px; gap: 0px;}
}


@media screen and (min-width: 641px) and (max-width: 729px){
    .win .window-wrap .window-box{max-width: 100%; height: 1900px; margin: 100px auto;}
    .win .window-wrap .window-box{margin: 50px 20px 0 200px;}
    .win .window-wrap .window-box .box-content .dot1,
    .win .window-wrap .window-box .box-content .dot2,
    .win .window-wrap .window-box .box-content .dot3{width: 14px; height: 14px;}
    .win .window-wrap .window-box .box-content .close{font-size: 18px;}

    .win .left-box .profile{top: 3%; left: 5%;}
    .win .left-box .profile-pic{width: 370px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 350px;}


    .win .profile-content h4:last-child{width: 330px;}
    .win .profile-content p:nth-child(2){width: 210px;}

    .win .right-box{max-width: 100%; height: 1100px; top: 43%; left: 2.2%; overflow: hidden;}
    .win .right-wrap{max-width: 95%; height: 1050px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 80%; margin-top: 5px;font-size: 15px;}

    .win .right-wrap .skill-like{max-width: 100%;}
    .win .right-wrap .skill{width: 100%; height: 320px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 10%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 50px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 40px; font-size: 14px; width: 60%;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 500px; height: 0px; margin: 0px 28px; gap: 0px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 40px;}
    .win .right-box .pos ul li:nth-child(2) p{margin-top: -45px;}
    .win .right-box .pos ul li h3{font-size: 15px; width: 80px; height: 30px; line-height: 30px;}
    .win .right-box .pos ul li p{max-width: 250px; font-size: 13px; left: 32%; font-weight: bold; margin-top: -55px;}

    .footer{position: relative;}  
}
@media screen and (min-width: 680px) and (max-width: 700px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 70px); width: 100%; height: 0px; margin: 0px 15px; gap: 0px;}
}
@media screen and (min-width: 660px) and (max-width: 679px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 60px); width: 100%; height: 0px; margin: 30px 35px; gap: 0px;}
}
@media screen and (min-width: 641px) and (max-width: 659px){
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 60px); width: 100%; height: 0px; margin: 30px 25px; gap: 0px;}
}


@media screen and (max-width: 640px){
    .win .window-wrap{height: 2060px; width: 640px;}
    .win .window-wrap .window-box{width: 590px; height: 2050px; margin: 90px auto;}

    .win .window-wrap .window-box .box-content .dot1,
    .win .window-wrap .window-box .box-content .dot2,
    .win .window-wrap .window-box .box-content .dot3{width: 13px; height: 13px;}
    .win .window-wrap .window-box .box-content .close{font-size: 16px;}

    .win .left-box .profile{top: 5%; left: 17.5%;}
    .win .left-box .profile-pic{width: 400px;}
    .win .profile .profile-box1,
    .win .profile .profile-box2,
    .win .profile .profile-box3,
    .win .profile .profile-box4{width: 380px;}


    .win .profile-content h4:last-child{width: 350px;}
    .win .profile-content p:nth-child(2){width: 240px;}

    .win .right-box{max-width: 560px; height: 1100px; top: 47.5%; left: 2.2%; overflow: hidden;}
    .win .right-wrap{max-width: 100%; height: 1050px;}
    .win .right-wrap h2{font-size: 22px; margin: 20px 20px;}
    .win .right-wrap .edu{height: 150px;}
    .win .right-wrap .edu p{text-align: center; width: 68%; margin-top: 5px;}

    .win .right-wrap .skill-like{max-width: 100%;}
    .win .right-wrap .skill{width: 100%; height: 320px; border: 0px solid #000;}
    .win .right-wrap .skill .desc{left: 10%;}
    .win .right-wrap .skill .desc img{margin-bottom: 20px; text-align: center; width: 50px;}
    .win .right-wrap .skill .desc .ps{margin-top: 25px;}
    .win .right-wrap .skill p{text-align: left; margin-top: 0px; margin-left: 40px; font-size: 16px;}

    .win .right-wrap .like{width: 100%; height: 170px; border-top: 2px solid #000;}
    .win .right-wrap .like ul{grid-template-columns: repeat(6, 80px); width: 500px; height: 0px; margin: 0px 49px; gap: 0px;}
    .win .right-wrap .like ul li{font-size: 13px; margin-top: -5px; transform: translate(-13%);}

    .flow-container{height: 30px;}
    .flow-container .flow-text{font-size: 13px; line-height: 30px;}

    .win .right-box .pos ul{margin-top: 40px;}
    .win .right-box .pos ul li:nth-child(2) p{margin-top: -45px;}
    .win .right-box .pos ul li h3{font-size: 16px; width: 100px; height: 40px; line-height: 40px;}
    .win .right-box .pos ul li p{max-width: 360px; font-size: 15px; left: 31%; font-weight: bold; margin-top: -55px;}

    .footer{position: relative;}
    
}