<<<<<<< HEAD
@charset "utf-8";

.content{width: 100%;}
.content .content-wrap{max-width: 1500px; max-height: 900px; border: 2px solid #000; margin: 50px 20px 0 300px;}
.content .puzzle-box{display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%; overflow: hidden;}
.content .puzzle-box p:nth-child(1){margin-left: 1vw;}
.content .puzzle-box p{text-align: center; font-size: 5vw; font-family: 'S-CoreDream-9Black'; margin: 0.5vw; line-height: 5.1vw; z-index: 9;}
.content .puzzle-box {position: relative;}
.content .puzzle-box .puzzle-click{position: absolute;}
.content .puzzle-box .puzzle-click .pro{width: 900px; height: 5vw; background-color: #ffee78; position: absolute; top: 0.5vw; left: 0.3vw;}
.content .puzzle-box .puzzle-click .pro p{font-size: 96px; top: -0.5vw; left: 0vw; position: absolute; letter-spacing: -0.1vw;}
.content .puzzle-box .puzzle-click .evt{width: 5.4vw; height: 26vw; background-color: #ffee78; position: absolute; top: 5.4vw; left: 1190px;}
.content .puzzle-box .puzzle-click .evt p{font-size: 5vw; top: -0.2vw; left: -0.1vw; position: absolute; letter-spacing: -0.1vw;}

.content .puzzle-box .puzzle-click .logo{width: 5.5vw; height: 28vw; position: absolute; top: 7vw; left: 550px; transform: rotate(-45deg); cursor: pointer; z-index: 7979;}
.content .puzzle-box .puzzle-click .logo::after{content:""; position: absolute; background-color: transparent; width: 100%; height: 100%; display: block;}
.content .puzzle-box .puzzle-click .logo2{width: 5.5vw; height: 28vw; position: absolute; top: 7vw; left: 550px; transform: rotate(-45deg); cursor: pointer; z-index: -1;}
.content .puzzle-box .puzzle-click .logo2::after{content:""; position: absolute; background-color: #ffee78; width: 100%; height: 100%; display: block;}

.content .puzzle-box .puzzle-click .logo p{font-size: 5vw; top: -0.2vw; left: 0.3vw; position: absolute; letter-spacing: -0.1vw; transform: rotate(45deg);}
.content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 7vw; left: 0.5vw;}
.content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 14.5vw; left: 0.4vw;}
.content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 21.5vw; left: 0.4vw;}

.content .puzzle-box .puzzle-click .pac{width: 700px; height: 5vw; background-color: #ffee78; position: absolute; top: 41.5vw; left: 10.4vw;}
.content .puzzle-box .puzzle-click .pac p{font-size: 98px; top: -0.7vw; left: 0vw; position: absolute;}

.window{z-index: 9999; display: none; position: fixed; width: 100%;height: 100%; background-color: rgba(0,0,0,0.4); top: 0;}
.window-content{z-index: 9999; display: none; position: fixed; width: 80%; height: 90%; background-color: #fff; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 7px; border: 1px solid #ccc; overflow-y: scroll;}
.window-content-wrap{width: 90%; margin: 0 auto;}
.window-content img{width: 100%;}
.window-content a{background-color: #fff; position: absolute; right: 10px; top: 10px; border: 1px solid #ccc; padding: 5px 30px; border-radius: 5px; display: block;}


@media screen and (min-width: 1200px) and (max-width: 1826px){
    .content .content-wrap{margin: 50px 20px 0 280px;}

    .content .puzzle-box .puzzle-click .pro{width: 48.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: 0.04vw;}
    .content .puzzle-box .puzzle-click .evt{left: 65.32vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 29.3vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 29.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 14.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 21.7vw; left: 0.7vw;}

    .content .puzzle-box .puzzle-click .pac{width: 37.7vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 5vw; left: 0.6vw; letter-spacing: 0.12vw;}


}

@media screen and (min-width: 1640px) and (max-width: 1695px){
    .content .puzzle-box .puzzle-click .evt{left: 64.8vw;}
}
@media screen and (min-width: 1543px) and (max-width: 1639px){
    .content .puzzle-box .puzzle-click .pro{width: 47.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.01vw;}
    .content .puzzle-box .puzzle-click .evt{left: 64vw;}
}
@media screen and (min-width: 1443px) and (max-width: 1542px){
    .content .puzzle-box .puzzle-click .pro{width: 47.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.03vw;}
    .content .puzzle-box .puzzle-click .evt{left: 63vw;}
    .content .puzzle-box .puzzle-click .pac{width: 37.2vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 5vw; left: 0.6vw; letter-spacing: 0.07vw;}
}
@media screen and (min-width: 1400px) and (max-width: 1442px){
    .content .puzzle-box .puzzle-click .pro{width: 46.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.08vw;}
    .content .puzzle-box .puzzle-click .evt{left: 62vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28.5vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 36.5vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0vw;}
}
@media screen and (min-width: 1311px) and (max-width: 1399px){
    .content .puzzle-box .puzzle-click .pro{width: 46vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.1vw;}
    .content .puzzle-box .puzzle-click .evt{left: 61vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28.2vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28.2vw;}

    .content .puzzle-box .puzzle-click .pac{width: 36vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.05vw;}
}
@media screen and (min-width: 1240px) and (max-width: 1310px){
    .content .puzzle-box .puzzle-click .pro{width: 45.3vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.15vw;}
    .content .puzzle-box .puzzle-click .evt{left: 60vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 27.8vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 27.8vw;}

    .content .puzzle-box .puzzle-click .pac{width: 35vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}
@media screen and (min-width: 1201px) and (max-width: 1239px){
    .content .puzzle-box .puzzle-click .pro{width: 44vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.2vw;}
    .content .puzzle-box .puzzle-click .evt{left: 59vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 27.5vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 27.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 34vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.18vw;}
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    .content .content-wrap{margin: 50px 20px 0 210px;}

    .content .puzzle-box .puzzle-click .pro{width: 47.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.02vw;}
    .content .puzzle-box .puzzle-click .evt{left: 63.7vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 29.3vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 29.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 14.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 21.7vw; left: 0.7vw;}

    .content .puzzle-box .puzzle-click .pac{width: 37.5vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 5vw; left: 0.5vw; letter-spacing: 0.1vw;}
}

@media screen and (min-width: 1101px) and (max-width: 1150px){
    .content .puzzle-box .puzzle-click .pro{width: 47vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.05vw;}
    .content .puzzle-box .puzzle-click .evt{left: 63vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28.8vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28.8vw;}

    .content .puzzle-box .puzzle-click .pac{width: 37vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.05vw;}
}
@media screen and (min-width: 1045px) and (max-width: 1100px){
    .content .puzzle-box .puzzle-click .pro{width: 46.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.08vw;}
    .content .puzzle-box .puzzle-click .evt{left: 62vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28.5vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 36.5vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0vw;}
}
@media screen and (min-width: 1001px) and (max-width: 1044px){
    .content .puzzle-box .puzzle-click .pro{width: 45.3vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.15vw;}
    .content .puzzle-box .puzzle-click .evt{left: 61vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28vw;}

    .content .puzzle-box .puzzle-click .pac{width: 35vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}

@media screen and (min-width: 641px) and (max-width: 1000px){
    .content .content-wrap{margin: 70px 20px 0 180px;}
    .content .puzzle-box .delete{display: none;}
    .content .puzzle-box p:nth-child(1){margin-left: 1vw;}
    .content .puzzle-box p{font-size: 7vw; line-height: 7vw;}
    .content .puzzle-box .puzzle-click .pro{width: 71vw; height: 7vw; top: 0.6vw; left: 0.6vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 7vw; letter-spacing: 0.25vw;}
    .content .puzzle-box .puzzle-click .evt{width: 7vw; height: 35vw; top: 7.5vw; left: 72.5vw;}
    .content .puzzle-box .puzzle-click .evt p{font-size: 7vw; top: -0.5vw; left: 0.2vw;}
    
    .content .puzzle-box .puzzle-click .logo{width: 9vw; height: 41vw; top: 8vw; left: 43vw; transform: rotate(-50deg);}
    .content .puzzle-box .puzzle-click .logo2{width: 9vw; height: 41vw; top: 8vw; left: 43vw; transform: rotate(-50deg);}
    
    .content .puzzle-box .puzzle-click .logo p{font-size: 7vw; top: 0.7vw; left: 1.8vw;transform: rotate(50deg);}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 11.7vw; left: 1.8vw; }
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 22vw; left: 1.6vw; }
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 33vw; left: 1.5vw; }
    
    .content .puzzle-box .puzzle-click .pac{width: 55vw; height: 7vw; top: 56.5vw; left: 17vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 7vw; top: -0.7vw; left: 0vw; letter-spacing: 0.4vw;}
}
@media screen and (min-width: 935px) and (max-width: 976px){
    .content .puzzle-box .puzzle-click .evt{left: 71.5vw;}
}
@media screen and (min-width: 900px) and (max-width: 934px){
    .content .puzzle-box .puzzle-click .pro{width: 70vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: 0.2vw;}
    .content .puzzle-box .puzzle-click .evt{left: 70.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 42vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 42vw;}

    .content .puzzle-box .puzzle-click .pac{width: 54vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.35vw;}
}
@media screen and (min-width: 859px) and (max-width: 899px){
    .content .puzzle-box .puzzle-click .pro{width: 69vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: 0.1vw;}
    .content .puzzle-box .puzzle-click .evt{left: 69.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 41.5vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 41.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 53vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.3vw;}
}
@media screen and (min-width: 814px) and (max-width: 858px){
    .content .puzzle-box .puzzle-click .pro{width: 68vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: 0.05vw;}
    .content .puzzle-box .puzzle-click .evt{left: 68.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 41.5vw; width: 6vw; top: 9vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 41.5vw; top: 9vw;}

    .content .puzzle-box .puzzle-click .pac{width: 52vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.2vw;}
}
@media screen and (min-width: 790px) and (max-width: 813px){
    .content .puzzle-box .puzzle-click .pro{width: 67vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: 0.02vw;}
    .content .puzzle-box .puzzle-click .evt{left: 67.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 40.5vw; width: 6vw; top: 9vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 40.5vw; top: 9vw;}

    .content .puzzle-box .puzzle-click .pac{width: 51vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.1vw;}
}
@media screen and (min-width: 760px) and (max-width: 789px){
    .content .puzzle-box .puzzle-click .pro{width: 66vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.01vw;}
    .content .puzzle-box .puzzle-click .evt{left: 66.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 40.5vw; width: 5vw; top: 9.5vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 40.5vw; top: 8.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 50vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.05vw;}
}
@media screen and (min-width: 727px) and (max-width: 759px){
    .content .puzzle-box .puzzle-click .pro{width: 65vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.1vw;}
    .content .puzzle-box .puzzle-click .evt{left: 65.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 40vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 40vw; top: 9vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.8vw; left: 1.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 21.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 31vw; left: 0vw;}

    .content .puzzle-box .puzzle-click .pac{width: 49vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.01vw;}
}
@media screen and (min-width: 700px) and (max-width: 726px){
    .content .puzzle-box .puzzle-click .pro{width: 64vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.15vw;}
    .content .puzzle-box .puzzle-click .evt{left: 64.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 39vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 39vw; top: 9vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.8vw; left: 1.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 21.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 31vw; left: 0vw;}

    .content .puzzle-box .puzzle-click .pac{width: 48vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}
@media screen and (min-width: 680px) and (max-width: 699px){
    .content .puzzle-box .puzzle-click .pro{width: 63vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.18vw;}
    .content .puzzle-box .puzzle-click .evt{left: 63.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 39vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 38vw; top: 10vw; height: 38vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.8vw; left: 1.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 21.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 31vw; left: 0vw;}

    .content .puzzle-box .puzzle-click .pac{width: 48.5vw; left: 15vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}
@media screen and (min-width: 659px) and (max-width: 679px){
    .content .puzzle-box .puzzle-click .pro{width: 62vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.25vw;}
    .content .puzzle-box .puzzle-click .evt{left: 62.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 39vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 38vw; top: 10vw; height: 38vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.9vw; left: 1.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 20.5vw; left: 0.2vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 30vw; left: -1vw;}

    .content .puzzle-box .puzzle-click .pac{width: 49vw; left: 14vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.05vw;}
}
@media screen and (min-width: 641px) and (max-width: 658px){
    .content .puzzle-box .puzzle-click .pro{width: 61vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.3vw;}
    .content .puzzle-box .puzzle-click .evt{left: 61.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 39vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 38vw; top: 10vw; height: 38vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.9vw; left: 1.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 20.5vw; left: 0.2vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 30vw; left: -1vw;}

    .content .puzzle-box .puzzle-click .pac{width: 48vw; left: 14vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}

@media screen and (min-width: 501px) and (max-width: 640px){
    .content .content-wrap{margin: 180px 20px 0 20px;}
    .content .puzzle-box .delete{display: none;}
    .content .puzzle-box p:nth-child(1){margin-left: 1vw;}
    .content .puzzle-box p{font-size: 10vw; line-height: 10vw;}
    .content .puzzle-box .puzzle-click .pro{width: 83vw; height: 10vw; top: 0.6vw; left: 0.6vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 10vw; letter-spacing: -0.64vw;}
    .content .puzzle-box .puzzle-click .evt{width: 9.4vw; height: 50vw; top: 10.8vw; left: 83.8vw;}
    .content .puzzle-box .puzzle-click .evt p{font-size: 10vw; top: -0.7vw; left: -0.1vw;}
    
    .content .puzzle-box .puzzle-click .logo{width: 11vw; height: 53vw; top: 14vw; left: 50vw;}
    .content .puzzle-box .puzzle-click .logo2{width: 11vw; height: 53vw; top: 14vw; left: 50vw;}
    
    .content .puzzle-box .puzzle-click .logo p{font-size: 10vw; top: 0.5vw; left: 2.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 14.5vw; left: 2vw; }
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 28vw; left: 1.5vw; }
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 41.5vw; left: 0.8vw; }
    
    .content .puzzle-box .puzzle-click .pac{width: 64.5vw; height: 9.5vw; top: 81vw; left: 19vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 10vw; top: -0.7vw; left: 0vw; position: absolute; letter-spacing: -0.45vw;}
}
@media screen and (min-width: 401px) and (max-width: 500px){
    .content .content-wrap{margin: 180px 20px 0 20px;}
    .content .puzzle-box .delete{display: none;}
    .content .puzzle-box p:nth-child(1){margin-left: 1vw;}
    .content .puzzle-box p{font-size: 10vw; line-height: 10vw;}
    .content .puzzle-box .puzzle-click .pro{width: 80vw; height: 10vw; top: 0.6vw; left: 0.6vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 10vw; letter-spacing: -0.85vw;}
    .content .puzzle-box .puzzle-click .evt{width: 9.4vw; height: 50vw; top: 10.8vw; left: 79.8vw;}
    .content .puzzle-box .puzzle-click .evt p{font-size: 10vw; top: -0.7vw; left: -0.1vw;}
    
    .content .puzzle-box .puzzle-click .logo{width: 11vw; height: 53vw; top: 14vw; left: 50vw;}
    .content .puzzle-box .puzzle-click .logo2{width: 11vw; height: 53vw; top: 14vw; left: 48vw;}
    
    .content .puzzle-box .puzzle-click .logo p{font-size: 10vw; top: -0.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 13vw; left: 0.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 26vw; left: -0.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 39.5vw; left: -0.9vw;}
    
    .content .puzzle-box .puzzle-click .pac{width: 60.5vw; height: 9.5vw; top: 81vw; left: 19vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 10vw; top: -0.7vw; left: 0vw; position: absolute; letter-spacing: -0.75vw;}
}
@media screen and (max-width: 400px){
    .content .content-wrap{margin: 180px 20px 0 20px;}
    .content .puzzle-box .delete{display: none;}
    .content .puzzle-box p:nth-child(1){margin-left: 1vw;}
    .content .puzzle-box p{font-size: 10vw; line-height: 10vw;}
    .content .puzzle-box .puzzle-click .pro{width: 80vw; height: 10vw; top: 0.6vw; left: 0.6vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 10vw; letter-spacing: -0.85vw;}
    .content .puzzle-box .puzzle-click .evt{width: 9.4vw; height: 50vw; top: 10.8vw; left: 79.8vw;}
    .content .puzzle-box .puzzle-click .evt p{font-size: 10vw; top: -0.7vw; left: -0.1vw;}
    
    .content .puzzle-box .puzzle-click .logo{width: 11vw; height: 53vw; top: 14vw; left: 50vw;}
    .content .puzzle-box .puzzle-click .logo2{width: 11vw; height: 53vw; top: 14vw; left: 48vw;}
    
    .content .puzzle-box .puzzle-click .logo p{font-size: 10vw; top: -0.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 13vw; left: 0.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 26vw; left: -0.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 39.5vw; left: -0.9vw;}
    
    .content .puzzle-box .puzzle-click .pac{width: 60.5vw; height: 9.5vw; top: 81vw; left: 19vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 10vw; top: -0.7vw; left: 0vw; position: absolute; letter-spacing: -0.75vw;}
=======
@charset "utf-8";

.content{width: 100%;}
.content .content-wrap{max-width: 1500px; max-height: 900px; border: 2px solid #000; margin: 50px 20px 0 300px;}
.content .puzzle-box{display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%; overflow: hidden;}
.content .puzzle-box p:nth-child(1){margin-left: 1vw;}
.content .puzzle-box p{text-align: center; font-size: 5vw; font-family: 'S-CoreDream-9Black'; margin: 0.5vw; line-height: 5.1vw; z-index: 9;}
.content .puzzle-box {position: relative;}
.content .puzzle-box .puzzle-click{position: absolute;}
.content .puzzle-box .puzzle-click .pro{width: 900px; height: 5vw; background-color: #ffee78; position: absolute; top: 0.5vw; left: 0.3vw;}
.content .puzzle-box .puzzle-click .pro p{font-size: 96px; top: -0.5vw; left: 0vw; position: absolute; letter-spacing: -0.1vw;}
.content .puzzle-box .puzzle-click .evt{width: 5.4vw; height: 26vw; background-color: #ffee78; position: absolute; top: 5.4vw; left: 1190px;}
.content .puzzle-box .puzzle-click .evt p{font-size: 5vw; top: -0.2vw; left: -0.1vw; position: absolute; letter-spacing: -0.1vw;}

.content .puzzle-box .puzzle-click .logo{width: 5.5vw; height: 28vw; position: absolute; top: 7vw; left: 550px; transform: rotate(-45deg); cursor: pointer; z-index: 7979;}
.content .puzzle-box .puzzle-click .logo::after{content:""; position: absolute; background-color: transparent; width: 100%; height: 100%; display: block;}
.content .puzzle-box .puzzle-click .logo2{width: 5.5vw; height: 28vw; position: absolute; top: 7vw; left: 550px; transform: rotate(-45deg); cursor: pointer; z-index: -1;}
.content .puzzle-box .puzzle-click .logo2::after{content:""; position: absolute; background-color: #ffee78; width: 100%; height: 100%; display: block;}

.content .puzzle-box .puzzle-click .logo p{font-size: 5vw; top: -0.2vw; left: 0.3vw; position: absolute; letter-spacing: -0.1vw; transform: rotate(45deg);}
.content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 7vw; left: 0.5vw;}
.content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 14.5vw; left: 0.4vw;}
.content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 21.5vw; left: 0.4vw;}

.content .puzzle-box .puzzle-click .pac{width: 700px; height: 5vw; background-color: #ffee78; position: absolute; top: 41.5vw; left: 10.4vw;}
.content .puzzle-box .puzzle-click .pac p{font-size: 98px; top: -0.7vw; left: 0vw; position: absolute;}

.window{z-index: 9999; display: none; position: fixed; width: 100%;height: 100%; background-color: rgba(0,0,0,0.4); top: 0;}
.window-content{z-index: 9999; display: none; position: fixed; width: 80%; height: 90%; background-color: #fff; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 7px; border: 1px solid #ccc; overflow-y: scroll;}
.window-content-wrap{width: 90%; margin: 0 auto;}
.window-content img{width: 100%;}
.window-content a{background-color: #fff; position: absolute; right: 10px; top: 10px; border: 1px solid #ccc; padding: 5px 30px; border-radius: 5px; display: block;}


@media screen and (min-width: 1200px) and (max-width: 1826px){
    .content .content-wrap{margin: 50px 20px 0 280px;}

    .content .puzzle-box .puzzle-click .pro{width: 48.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: 0.04vw;}
    .content .puzzle-box .puzzle-click .evt{left: 65.32vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 29.3vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 29.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 14.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 21.7vw; left: 0.7vw;}

    .content .puzzle-box .puzzle-click .pac{width: 37.7vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 5vw; left: 0.6vw; letter-spacing: 0.12vw;}


}

@media screen and (min-width: 1640px) and (max-width: 1695px){
    .content .puzzle-box .puzzle-click .evt{left: 64.8vw;}
}
@media screen and (min-width: 1543px) and (max-width: 1639px){
    .content .puzzle-box .puzzle-click .pro{width: 47.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.01vw;}
    .content .puzzle-box .puzzle-click .evt{left: 64vw;}
}
@media screen and (min-width: 1443px) and (max-width: 1542px){
    .content .puzzle-box .puzzle-click .pro{width: 47.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.03vw;}
    .content .puzzle-box .puzzle-click .evt{left: 63vw;}
    .content .puzzle-box .puzzle-click .pac{width: 37.2vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 5vw; left: 0.6vw; letter-spacing: 0.07vw;}
}
@media screen and (min-width: 1400px) and (max-width: 1442px){
    .content .puzzle-box .puzzle-click .pro{width: 46.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.08vw;}
    .content .puzzle-box .puzzle-click .evt{left: 62vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28.5vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 36.5vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0vw;}
}
@media screen and (min-width: 1311px) and (max-width: 1399px){
    .content .puzzle-box .puzzle-click .pro{width: 46vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.1vw;}
    .content .puzzle-box .puzzle-click .evt{left: 61vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28.2vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28.2vw;}

    .content .puzzle-box .puzzle-click .pac{width: 36vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.05vw;}
}
@media screen and (min-width: 1240px) and (max-width: 1310px){
    .content .puzzle-box .puzzle-click .pro{width: 45.3vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.15vw;}
    .content .puzzle-box .puzzle-click .evt{left: 60vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 27.8vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 27.8vw;}

    .content .puzzle-box .puzzle-click .pac{width: 35vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}
@media screen and (min-width: 1201px) and (max-width: 1239px){
    .content .puzzle-box .puzzle-click .pro{width: 44vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.2vw;}
    .content .puzzle-box .puzzle-click .evt{left: 59vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 27.5vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 27.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 34vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.18vw;}
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    .content .content-wrap{margin: 50px 20px 0 210px;}

    .content .puzzle-box .puzzle-click .pro{width: 47.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.02vw;}
    .content .puzzle-box .puzzle-click .evt{left: 63.7vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 29.3vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 29.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 14.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 21.7vw; left: 0.7vw;}

    .content .puzzle-box .puzzle-click .pac{width: 37.5vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 5vw; left: 0.5vw; letter-spacing: 0.1vw;}
}

@media screen and (min-width: 1101px) and (max-width: 1150px){
    .content .puzzle-box .puzzle-click .pro{width: 47vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.05vw;}
    .content .puzzle-box .puzzle-click .evt{left: 63vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28.8vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28.8vw;}

    .content .puzzle-box .puzzle-click .pac{width: 37vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.05vw;}
}
@media screen and (min-width: 1045px) and (max-width: 1100px){
    .content .puzzle-box .puzzle-click .pro{width: 46.5vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.08vw;}
    .content .puzzle-box .puzzle-click .evt{left: 62vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28.5vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 36.5vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0vw;}
}
@media screen and (min-width: 1001px) and (max-width: 1044px){
    .content .puzzle-box .puzzle-click .pro{width: 45.3vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 5vw; top: -0.5vw; left: 0; position: absolute; letter-spacing: -0.15vw;}
    .content .puzzle-box .puzzle-click .evt{left: 61vw;}

    .content .puzzle-box .puzzle-click .logo{top: 7.2vw; left: 28vw;}
    .content .puzzle-box .puzzle-click .logo2{top: 7.2vw; left: 28vw;}

    .content .puzzle-box .puzzle-click .pac{width: 35vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}

@media screen and (min-width: 641px) and (max-width: 1000px){
    .content .content-wrap{margin: 70px 20px 0 180px;}
    .content .puzzle-box .delete{display: none;}
    .content .puzzle-box p:nth-child(1){margin-left: 1vw;}
    .content .puzzle-box p{font-size: 7vw; line-height: 7vw;}
    .content .puzzle-box .puzzle-click .pro{width: 71vw; height: 7vw; top: 0.6vw; left: 0.6vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 7vw; letter-spacing: 0.25vw;}
    .content .puzzle-box .puzzle-click .evt{width: 7vw; height: 35vw; top: 7.5vw; left: 72.5vw;}
    .content .puzzle-box .puzzle-click .evt p{font-size: 7vw; top: -0.5vw; left: 0.2vw;}
    
    .content .puzzle-box .puzzle-click .logo{width: 9vw; height: 41vw; top: 8vw; left: 43vw; transform: rotate(-50deg);}
    .content .puzzle-box .puzzle-click .logo2{width: 9vw; height: 41vw; top: 8vw; left: 43vw; transform: rotate(-50deg);}
    
    .content .puzzle-box .puzzle-click .logo p{font-size: 7vw; top: 0.7vw; left: 1.8vw;transform: rotate(50deg);}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 11.7vw; left: 1.8vw; }
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 22vw; left: 1.6vw; }
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 33vw; left: 1.5vw; }
    
    .content .puzzle-box .puzzle-click .pac{width: 55vw; height: 7vw; top: 56.5vw; left: 17vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 7vw; top: -0.7vw; left: 0vw; letter-spacing: 0.4vw;}
}
@media screen and (min-width: 935px) and (max-width: 976px){
    .content .puzzle-box .puzzle-click .evt{left: 71.5vw;}
}
@media screen and (min-width: 900px) and (max-width: 934px){
    .content .puzzle-box .puzzle-click .pro{width: 70vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: 0.2vw;}
    .content .puzzle-box .puzzle-click .evt{left: 70.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 42vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 42vw;}

    .content .puzzle-box .puzzle-click .pac{width: 54vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.35vw;}
}
@media screen and (min-width: 859px) and (max-width: 899px){
    .content .puzzle-box .puzzle-click .pro{width: 69vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: 0.1vw;}
    .content .puzzle-box .puzzle-click .evt{left: 69.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 41.5vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 41.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 53vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.3vw;}
}
@media screen and (min-width: 814px) and (max-width: 858px){
    .content .puzzle-box .puzzle-click .pro{width: 68vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: 0.05vw;}
    .content .puzzle-box .puzzle-click .evt{left: 68.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 41.5vw; width: 6vw; top: 9vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 41.5vw; top: 9vw;}

    .content .puzzle-box .puzzle-click .pac{width: 52vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.2vw;}
}
@media screen and (min-width: 790px) and (max-width: 813px){
    .content .puzzle-box .puzzle-click .pro{width: 67vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: 0.02vw;}
    .content .puzzle-box .puzzle-click .evt{left: 67.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 40.5vw; width: 6vw; top: 9vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 40.5vw; top: 9vw;}

    .content .puzzle-box .puzzle-click .pac{width: 51vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.1vw;}
}
@media screen and (min-width: 760px) and (max-width: 789px){
    .content .puzzle-box .puzzle-click .pro{width: 66vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.01vw;}
    .content .puzzle-box .puzzle-click .evt{left: 66.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 40.5vw; width: 5vw; top: 9.5vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 40.5vw; top: 8.5vw;}

    .content .puzzle-box .puzzle-click .pac{width: 50vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.05vw;}
}
@media screen and (min-width: 727px) and (max-width: 759px){
    .content .puzzle-box .puzzle-click .pro{width: 65vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.1vw;}
    .content .puzzle-box .puzzle-click .evt{left: 65.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 40vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 40vw; top: 9vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.8vw; left: 1.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 21.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 31vw; left: 0vw;}

    .content .puzzle-box .puzzle-click .pac{width: 49vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: 0.01vw;}
}
@media screen and (min-width: 700px) and (max-width: 726px){
    .content .puzzle-box .puzzle-click .pro{width: 64vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.15vw;}
    .content .puzzle-box .puzzle-click .evt{left: 64.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 39vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 39vw; top: 9vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.8vw; left: 1.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 21.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 31vw; left: 0vw;}

    .content .puzzle-box .puzzle-click .pac{width: 48vw; left: 16vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}
@media screen and (min-width: 680px) and (max-width: 699px){
    .content .puzzle-box .puzzle-click .pro{width: 63vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.18vw;}
    .content .puzzle-box .puzzle-click .evt{left: 63.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 39vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 38vw; top: 10vw; height: 38vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.8vw; left: 1.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 21.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 31vw; left: 0vw;}

    .content .puzzle-box .puzzle-click .pac{width: 48.5vw; left: 15vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}
@media screen and (min-width: 659px) and (max-width: 679px){
    .content .puzzle-box .puzzle-click .pro{width: 62vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.25vw;}
    .content .puzzle-box .puzzle-click .evt{left: 62.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 39vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 38vw; top: 10vw; height: 38vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.9vw; left: 1.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 20.5vw; left: 0.2vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 30vw; left: -1vw;}

    .content .puzzle-box .puzzle-click .pac{width: 49vw; left: 14vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.05vw;}
}
@media screen and (min-width: 641px) and (max-width: 658px){
    .content .puzzle-box .puzzle-click .pro{width: 61vw;}
    .content .puzzle-box .puzzle-click .pro p{letter-spacing: -0.3vw;}
    .content .puzzle-box .puzzle-click .evt{left: 61.5vw;}

    .content .puzzle-box .puzzle-click .logo{left: 39vw; top: 8vw;}
    .content .puzzle-box .puzzle-click .logo2{left: 38vw; top: 10vw; height: 38vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 10.9vw; left: 1.3vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 20.5vw; left: 0.2vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 30vw; left: -1vw;}

    .content .puzzle-box .puzzle-click .pac{width: 48vw; left: 14vw;}
    .content .puzzle-box .puzzle-click .pac p{letter-spacing: -0.1vw;}
}

@media screen and (min-width: 501px) and (max-width: 640px){
    .content .content-wrap{margin: 180px 20px 0 20px;}
    .content .puzzle-box .delete{display: none;}
    .content .puzzle-box p:nth-child(1){margin-left: 1vw;}
    .content .puzzle-box p{font-size: 10vw; line-height: 10vw;}
    .content .puzzle-box .puzzle-click .pro{width: 83vw; height: 10vw; top: 0.6vw; left: 0.6vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 10vw; letter-spacing: -0.64vw;}
    .content .puzzle-box .puzzle-click .evt{width: 9.4vw; height: 50vw; top: 10.8vw; left: 83.8vw;}
    .content .puzzle-box .puzzle-click .evt p{font-size: 10vw; top: -0.7vw; left: -0.1vw;}
    
    .content .puzzle-box .puzzle-click .logo{width: 11vw; height: 53vw; top: 14vw; left: 50vw;}
    .content .puzzle-box .puzzle-click .logo2{width: 11vw; height: 53vw; top: 14vw; left: 50vw;}
    
    .content .puzzle-box .puzzle-click .logo p{font-size: 10vw; top: 0.5vw; left: 2.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 14.5vw; left: 2vw; }
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 28vw; left: 1.5vw; }
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 41.5vw; left: 0.8vw; }
    
    .content .puzzle-box .puzzle-click .pac{width: 64.5vw; height: 9.5vw; top: 81vw; left: 19vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 10vw; top: -0.7vw; left: 0vw; position: absolute; letter-spacing: -0.45vw;}
}
@media screen and (min-width: 401px) and (max-width: 500px){
    .content .content-wrap{margin: 180px 20px 0 20px;}
    .content .puzzle-box .delete{display: none;}
    .content .puzzle-box p:nth-child(1){margin-left: 1vw;}
    .content .puzzle-box p{font-size: 10vw; line-height: 10vw;}
    .content .puzzle-box .puzzle-click .pro{width: 80vw; height: 10vw; top: 0.6vw; left: 0.6vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 10vw; letter-spacing: -0.85vw;}
    .content .puzzle-box .puzzle-click .evt{width: 9.4vw; height: 50vw; top: 10.8vw; left: 79.8vw;}
    .content .puzzle-box .puzzle-click .evt p{font-size: 10vw; top: -0.7vw; left: -0.1vw;}
    
    .content .puzzle-box .puzzle-click .logo{width: 11vw; height: 53vw; top: 14vw; left: 50vw;}
    .content .puzzle-box .puzzle-click .logo2{width: 11vw; height: 53vw; top: 14vw; left: 48vw;}
    
    .content .puzzle-box .puzzle-click .logo p{font-size: 10vw; top: -0.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 13vw; left: 0.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 26vw; left: -0.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 39.5vw; left: -0.9vw;}
    
    .content .puzzle-box .puzzle-click .pac{width: 60.5vw; height: 9.5vw; top: 81vw; left: 19vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 10vw; top: -0.7vw; left: 0vw; position: absolute; letter-spacing: -0.75vw;}
}
@media screen and (max-width: 400px){
    .content .content-wrap{margin: 180px 20px 0 20px;}
    .content .puzzle-box .delete{display: none;}
    .content .puzzle-box p:nth-child(1){margin-left: 1vw;}
    .content .puzzle-box p{font-size: 10vw; line-height: 10vw;}
    .content .puzzle-box .puzzle-click .pro{width: 80vw; height: 10vw; top: 0.6vw; left: 0.6vw;}
    .content .puzzle-box .puzzle-click .pro p{font-size: 10vw; letter-spacing: -0.85vw;}
    .content .puzzle-box .puzzle-click .evt{width: 9.4vw; height: 50vw; top: 10.8vw; left: 79.8vw;}
    .content .puzzle-box .puzzle-click .evt p{font-size: 10vw; top: -0.7vw; left: -0.1vw;}
    
    .content .puzzle-box .puzzle-click .logo{width: 11vw; height: 53vw; top: 14vw; left: 50vw;}
    .content .puzzle-box .puzzle-click .logo2{width: 11vw; height: 53vw; top: 14vw; left: 48vw;}
    
    .content .puzzle-box .puzzle-click .logo p{font-size: 10vw; top: -0.5vw; left: 1vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(2){top: 13vw; left: 0.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(3){top: 26vw; left: -0.5vw;}
    .content .puzzle-box .puzzle-click .logo p:nth-child(4){top: 39.5vw; left: -0.9vw;}
    
    .content .puzzle-box .puzzle-click .pac{width: 60.5vw; height: 9.5vw; top: 81vw; left: 19vw;}
    .content .puzzle-box .puzzle-click .pac p{font-size: 10vw; top: -0.7vw; left: 0vw; position: absolute; letter-spacing: -0.75vw;}
>>>>>>> 22ee1a223e47e699e20bbc87ac67d52de37077bf
}