@charset "utf-8";

.content{width: 100%;}
.content-wrap{max-width: 1500px; margin: 55px 20px 0 300px; position: relative;}
.content .stair{position: relative;}
.content .stair .exit{width: 7.6vw; height: 50px; border: 2px solid #000; transform: skew(0, 15deg); position: absolute; top: 10px; left: 26%;}
.content .stair .exit p{text-align: center; line-height: 50px; font-size: 40px; font-family: 'S-CoreDream-9Black';}
.content .stair img{ max-width: 30.5vw; margin-top: 60px;}
.content .stair > p{font-family: 'S-CoreDream-9Black'; font-size: 33px; transform: skew(0, 18.5deg); position: absolute; top: 62.3%; left: 18%; color: #fff;}
.content .stair ul li a p{font-family: 'S-CoreDream-9Black'; font-size: 33px; transform: skew(0, 18.1deg); position: absolute; color: #fff; text-align: center; line-height: 3vw;}
.content .stair ul li:nth-child(1) p{top: 70.6%; left: 11%; width: 12.9vw; height: 3.2vw; background-color: transparent; box-sizing: border-box; border-radius: 2px;}
.content .stair ul li:nth-child(2) p{top: 79.7%; left: 5.49%; width: 12.943vw; height: 3.14vw; background-color: transparent; box-sizing: border-box; border-radius: 2px;}
.content .stair ul li:nth-child(3) p{top: 88.7%; width: 12.9vw; height: 3.14vw; background-color: transparent; box-sizing: border-box; border-radius: 2px;}
.content .stair ul li.on p{color: #000; background-color: #fff; border: 2px solid #000;}

.content .box{width: 55%; height: 74.2%; border: 2px solid #000; border-left: 0px solid #000; position: absolute; top: 13.3%; left: 38.4%;display: flex; flex-wrap: wrap;}
.content .box .pic{width: 100%; max-height: 90%;}
.content .box img{width: 100%; width: 9.9vw; position: absolute; margin: 40px 27px;}
.content .box img:nth-child(1){width: 20vw;}
.content .box img:nth-child(2){left: 20.2vw;}
.content .box img:nth-child(3){left: 30.3vw;}
.content .box img:nth-child(4){top: 10.1vw; left: 20.2vw;}
.content .box img:nth-child(5){top: 10.1vw; left: 30.3vw;}
.content .box .baking img:nth-child(1){left: 20.2vw;}
.content .box .baking img:nth-child(2){left: 0vw;}
.content .box .baking img:nth-child(3){left: 10.1vw;}
.content .box .baking img:nth-child(4){ left: 0vw;}
.content .box .baking img:nth-child(5){left: 10.1vw;}
.content .box .txt{width: 92%; margin: 40px; position: absolute; top: 63%;}
.content .box .txt p:nth-child(1){font-family: 'S-CoreDream-9Black'; font-size: 27px; margin-left: 10px; background-color: #000; color: #fff; width: 8vw; text-align: center;}
.content .box .txt p:nth-child(2){padding: 40px;}





@media screen and (min-width: 1401px) and (max-width: 1855px){
    .content .stair .exit{left: 26.5%;}
    .content .stair > p{font-size: 30px;}
    .content .stair .exit p{font-size: 37px;}
    .content .stair ul li a p{font-size: 30px;}
    .content .stair ul li:nth-child(1) p{top: 71%; width: 13.4vw;}
    .content .stair ul li:nth-child(2) p{top: 80%; width: 13.4vw;}
    .content .stair ul li:nth-child(3) p{top: 88.9%; width: 13.4vw;}

    .content .box{height: 74.3%; top: 13.2%; left: 38%; border: 0px solid #000;}
    .content .box .txt{top: 60%;}
    .content .box .txt p:nth-child(1){font-size: 25px;}
    .content .box .txt p:nth-child(2){ margin-top: -10px; font-size: 15px;}
}
@media screen and (min-width: 1401px) and (max-width: 1600px){
    .content .stair .exit{left: 26.5%;}
    .content .stair > p{font-size: 30px;}
    .content .stair .exit p{font-size: 37px;}
    .content .stair ul li a p{font-size: 30px;}
    .content .stair ul li:nth-child(1) p{top: 71%; width: 13.5vw;}
    .content .stair ul li:nth-child(2) p{top: 80%; width: 13.4vw;}
    .content .stair ul li:nth-child(3) p{top: 88.9%; width: 13.4vw;}

    .content .box{height: 73.2%; top: 14.2%; left: 38.6%;border: 0px solid #000;}
    .content .box .txt{top: 60%;}
    .content .box .txt p:nth-child(1){font-size: 25px;}
    .content .box .txt p:nth-child(2){ margin-top: -10px; font-size: 15px;}
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
    .content-wrap{margin: 55px 20px 0 270px;}
    .content .stair .exit{left: 27.5%;}
    .content .stair > p{font-size: 27px;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair ul li a p{font-size: 27px;}
    .content .stair ul li:nth-child(1) p{top: 71%; width: 13.7vw;}
    .content .stair ul li:nth-child(2) p{top: 80%; width: 13.6vw;}
    .content .stair ul li:nth-child(3) p{top: 88.9%; width: 13.5vw;}

    .content .box{width: 57%; height: 72.3%; top: 15.1%; left: 39.5%;border: 0px solid #000;}
    .content .box .txt{top: 60%;}
    .content .box .txt p:nth-child(1){font-size: 23px;}
    .content .box .txt p:nth-child(2){ margin-top: -20px; font-size: 14px;}
}

@media screen and (min-width: 1151px) and (max-width: 1200px){
    .content-wrap{margin: 30px 20px 0 180px;}
    .content .stair .exit{width: 7.6vw; height: 40px; top: 20px; left: 25.5%;}
    .content .stair .exit p{line-height: 40px; font-size: 30px;}
    .content .stair > p{font-size: 20px; top: 63.5%; left: 17.5%;}
    .content .stair ul li a p{font-size: 21px;}
    .content .stair ul li:nth-child(1) p{top: 71.5%; left: 10.4%; width: 13.1vw; height: 3.3vw;}
    .content .stair ul li:nth-child(2) p{top: 80.2%; left: 5.2%; width: 13.1vw; height: 3.3vw;}
    .content .stair ul li:nth-child(3) p{top: 88.9%; width: 13.1vw; height: 3.25vw;}
    
    .content .box{width: 60%; height: 71.5%; top: 16.2%; left: 36.5%; border: 1px solid #000; border-left: 0px solid #000;}
    .content .box img{margin: 20px 60px;}
    .content .box .txt{width: 90%; margin: 30px; top: 58%;}
    .content .box .txt p:nth-child(1){font-size: 20px; margin-left: 40px; width: 10vw;}
    .content .box .txt p:nth-child(2){padding: 20px 30px; font-size: 14px;}
}

@media screen and (min-width: 1101px) and (max-width: 1150px){
    .content-wrap{margin: 30px 20px 0 180px;}
    .content .stair .exit{width: 7.6vw; height: 40px; top: 20px; left: 25.5%;}
    .content .stair .exit p{line-height: 40px; font-size: 30px;}
    .content .stair > p{font-size: 20px; top: 63.5%; left: 17.5%;}
    .content .stair ul li a p{font-size: 21px;}
    .content .stair ul li:nth-child(1) p{top: 71.5%; left: 10.5%; width: 13.5vw; height: 3.3vw;}
    .content .stair ul li:nth-child(2) p{top: 80.2%; left: 5.2%; width: 13.5vw; height: 3.3vw;}
    .content .stair ul li:nth-child(3) p{top: 88.9%; width: 13.4vw; height: 3.25vw;}
    
    .content .box{width: 60%; height: 71.1%; top: 16.5%; left: 37.5%;border: 0px solid #000;}
    .content .box img{margin: 20px 60px;}
    .content .box .txt{width: 90%; margin: 30px; top: 58%;}
    .content .box .txt p:nth-child(1){font-size: 20px; margin-left: 40px; width: 10vw;}
    .content .box .txt p:nth-child(2){padding: 20px 30px; font-size: 14px;}
}

@media screen and (min-width: 1051px) and (max-width: 1100px){
    .content-wrap{margin: 30px 20px 0 180px;}
    .content .stair .exit{width: 7.6vw; height: 40px; top: 20px; left: 25.5%;}
    .content .stair .exit p{line-height: 40px; font-size: 30px;}
    .content .stair > p{font-size: 20px; top: 63.5%; left: 17.5%;}
    .content .stair ul li a p{font-size: 21px;}
    .content .stair ul li:nth-child(1) p{top: 71.5%; left: 10.5%; width: 13.5vw; height: 3.3vw;}
    .content .stair ul li:nth-child(2) p{top: 80.2%; left: 5.2%; width: 13.5vw; height: 3.3vw;}
    .content .stair ul li:nth-child(3) p{top: 88.9%; width: 13.4vw; height: 3.25vw;}
    
    .content .box{width: 60%; height: 70.8%; top: 16.8%; left: 37.8%; border: 0px solid #000;}
    .content .box img{margin: 20px 60px;}
    .content .box .txt{width: 90%; margin: 30px; top: 58%;}
    .content .box .txt p:nth-child(1){font-size: 20px; margin-left: 40px; width: 10vw;}
    .content .box .txt p:nth-child(2){padding: 20px 30px; font-size: 13px;}
}

@media screen and (min-width: 1001px) and (max-width: 1050px){
    .content-wrap{margin: 30px 20px 0 180px;}
    .content .stair .exit{width: 7.6vw; height: 40px; top: 20px; left: 25.5%;}
    .content .stair .exit p{line-height: 40px; font-size: 30px;}
    .content .stair > p{font-size: 20px; top: 63.5%; left: 17.5%;}
    .content .stair ul li a p{font-size: 21px;}
    .content .stair ul li:nth-child(1) p{top: 71.8%; left: 10.9%; width: 13.3vw; height: 3.2vw;}
    .content .stair ul li:nth-child(2) p{top: 80.3%; left: 5.4%; width: 13.3vw; height: 3.2vw;}
    .content .stair ul li:nth-child(3) p{top: 89%; width: 13.4vw; height: 3.25vw;}
    
    .content .box{width: 60%; height: 70.5%; top: 17.3%; left: 38%;border: 0px solid #000;}
    .content .box img{margin: 20px 60px;}
    .content .box .txt{width: 90%; margin: 30px; top: 58%;}
    .content .box .txt p:nth-child(1){font-size: 20px; margin-left: 40px; width: 10vw;}
    .content .box .txt p:nth-child(2){padding: 20px 30px; font-size: 12px;}
}

@media screen and (min-width: 911px) and (max-width: 1000px){

    .content-wrap{margin: 100px 40px 0 350px ; display: flex; flex-wrap: wrap;}
    .content .stair .exit{width: 20vw; height: 50px; top: 20px; left: 66%;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 30px; top: 62.5%; left: 48.5%;}
    .content .stair ul li a p{font-size: 3vw; line-height: 5.5vw;}
    .content .stair ul li:nth-child(1) p{top: 70.7%; left: 28.5%; width: 24.8vw; height: 6vw;}
    .content .stair ul li:nth-child(2) p{top: 79.7%; left: 14.2%; width: 24.9vw; height: 6vw;}
    .content .stair ul li:nth-child(3) p{top: 88.7%; width: 24.9vw; height: 6vw;}

    .content .box{width: 32.2vw; height: 44.7vw; top: 6.1vw; left: 1%;border: 0px solid #000;}
    .content .box .pic{width: 100%; max-height: 90%;}
    .content .box img{width: 15.5vw; position: absolute; margin: 3px 3px;}
    .content .box img:nth-child(1){width: 15.5vw; height: 28vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 14.2vw; left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 28.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 28.5vw; left: 16vw;}
    .content .box .baking img:nth-child(1){width: 15.5vw; height: 28vw; object-fit:cover; left: 0;}
    .content .box .baking img:nth-child(2){left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 14.2vw; left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 28.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 28.5vw; left: 16vw;}
    .content .box .txt{width: 92%; margin: 40px; position: absolute; top: 15%; left: 80%; color: #fff; transform: skew(0, 18deg);}
    .content .box .txt p:nth-child(1){font-size: 3vw; width: 9vw; text-align: right; margin-left: 4vw;}
    .content .box .txt p:nth-child(2){padding: 4vw; font-size: 1.5vw;}
    .content .box .baking .txt p:nth-child(2){margin-top: -10px;}
}

@media screen and (min-width: 876px) and (max-width: 910px){

    .content-wrap{margin: 100px 30px 0 320px ; display: flex; flex-wrap: wrap;}
    .content .stair .exit{width: 20vw; height: 50px; top: 20px; left: 66%;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 30px; top: 62.5%; left: 48.5%;}
    .content .stair ul li a p{font-size: 3vw; line-height: 5.5vw;}
    .content .stair ul li:nth-child(1) p{top: 70.7%; left: 28.5%; width: 25.9vw; height: 6.3vw;}
    .content .stair ul li:nth-child(2) p{top: 79.7%; left: 14.2%; width: 25.9vw; height: 6.3vw;}
    .content .stair ul li:nth-child(3) p{top: 88.7%; width: 25.9vw; height: 6.3vw;}

    .content .box{width: 34.2vw; height: 46.6vw; top: 6.6vw; left: 0;border: 0px solid #000;}
    .content .box .pic{width: 100%; max-height: 90%;}
    .content .box img{width: 15.5vw; position: absolute; margin: 3px 3px;}
    .content .box img:nth-child(1){width: 15.5vw; height: 28vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 14.2vw; left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 28.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 28.5vw; left: 16vw;}
    .content .box .baking img:nth-child(1){width: 15.5vw; height: 28vw; object-fit:cover; left: 0;}
    .content .box .baking img:nth-child(2){left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 14.2vw; left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 28.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 28.5vw; left: 16vw;}
    .content .box .txt{width: 80%; margin: 40px; position: absolute; top: 15%; left: 80%; color: #fff; transform: skew(0, 18deg);}
    .content .box .txt p:nth-child(1){font-size: 3vw; width: 9vw; text-align: right; margin-left: 4vw;}
    .content .box .txt p:nth-child(2){padding: 4vw; font-size: 1.5vw;}
    .content .box .baking .txt p:nth-child(2){margin-top: -10px;}
}

@media screen and (min-width: 801px) and (max-width: 875px){

    .content-wrap{margin: 100px 32px 0 300px ; display: flex; flex-wrap: wrap;}
    .content .stair .exit{width: 20vw; height: 50px; top: 20px; left: 66%;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 28px; top: 62.5%; left: 48.2%;}
    .content .stair ul li a p{font-size: 3vw; line-height: 5.5vw;}
    .content .stair ul li:nth-child(1) p{top: 70.8%; left: 28.5%; width: 25.8vw; height: 6.3vw;}
    .content .stair ul li:nth-child(2) p{top: 79.7%; left: 14.2%; width: 25.8vw; height: 6.3vw;}
    .content .stair ul li:nth-child(3) p{top: 88.7%; width: 25.8vw; height: 6.3vw;}

    .content .box{width: 34.2vw; height: 46.3vw; top: 6.9vw; left: 0; border: 0px solid #000;}
    .content .box .pic{width: 100%; max-height: 90%;}
    .content .box img{width: 15.5vw; position: absolute; margin: 3px 3px;}
    .content .box img:nth-child(1){width: 15.5vw; height: 28vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 14.2vw; left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 28.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 28.5vw; left: 16vw;}
    .content .box .baking img:nth-child(1){width: 15.5vw; height: 28vw; object-fit:cover; left: 0;}
    .content .box .baking img:nth-child(2){left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 14.2vw; left: 16vw; height: 13.7vw; object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 28.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 28.5vw; left: 16vw;}
    .content .box .txt{width: 85%; margin: 40px; position: absolute; top: 15%; left: 80%; color: #fff; transform: skew(0, 18deg);}
    .content .box .txt p:nth-child(1){font-size: 3vw; width: 9vw; text-align: right; margin-left: 4vw;}
    .content .box .txt p:nth-child(2){padding: 4vw; font-size: 1.5vw;}
    .content .box .baking .txt p:nth-child(2){margin-top: -10px;}
}
@media screen and (min-width: 750px) and (max-width: 800px){

    .content-wrap{margin: 100px 32px 0 180px ; display: flex; flex-wrap: wrap;}
    .content .stair .exit{width: 20vw; height: 50px; top: 20px; left: 66%;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 28px; top: 62.5%; left: 48.2%;}
    .content .stair ul li a p{font-size: 4vw; line-height: 7vw;}
    .content .stair ul li:nth-child(1) p{top: 70.8%; left: 28.5%; width: 31vw; height: 7.3vw;}
    .content .stair ul li:nth-child(2) p{top: 79.7%; left: 14.2%; width: 31.1vw; height: 7.4vw;}
    .content .stair ul li:nth-child(3) p{top: 88.7%; width: 31vw; height: 7.5vw;}

    .content .box{width: 41.2vw; height: 55.8vw; top: 7.6vw; left: 0; border: 0px solid #000;}
    .content .box .pic{width: 100%; max-height: 90%;}
    .content .box img{width: 19.5vw; position: absolute; margin: 4px 5px;}
    .content .box img:nth-child(1){width: 19.5vw; height: 34vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 20vw; height: 17vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 17.5vw; left: 20vw; height: 16.5vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 34.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 34.5vw; left: 20vw;}
    .content .box .baking img:nth-child(1){width: 19.5vw; height: 34vw; object-fit:cover; left: 0;}
    .content .box .baking img:nth-child(2){left: 20vw; height: 17vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 17.5vw; left: 20vw; height: 16.5vw; object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 34.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 34.5vw; left: 20vw;}
    .content .box .txt{width: 85%; margin: 40px; position: absolute; top: 15%; left: 80%; color: #fff; transform: skew(0, 18deg);}
    .content .box .txt p:nth-child(1){font-size: 3vw; width: 9vw; text-align: right; margin-left: 5vw;}
    .content .box .txt p:nth-child(2){padding: 5vw; font-size: 1.8vw;}
    .content .box .baking .txt p:nth-child(2){margin-top: -10px;}
}

@media screen and (min-width: 721px) and (max-width: 749px){

    .content-wrap{margin: 100px 40px 0 150px ; display: flex; flex-wrap: wrap;}
    .content .stair .exit{width: 20vw; height: 50px; top: 20px; left: 66%;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 30px; top: 62.5%; left: 48.5%;}
    .content .stair ul li a p{font-size: 4vw; line-height: 7.5vw;}
    .content .stair ul li:nth-child(1) p{top: 70.7%; left: 28.5%; width: 32.2vw; height: 7.8vw;}
    .content .stair ul li:nth-child(2) p{top: 79.7%; left: 14.2%; width: 32.2vw; height: 7.7vw;}
    .content .stair ul li:nth-child(3) p{top: 88.7%; width: 32.2vw; height: 7.8vw;}

    .content .box{width: 41.5vw; height: 57.7vw; top: 7.9vw; left: 1%;border: 0px solid #000;}
    .content .box .pic{width: 100%; max-height: 90%;}
    .content .box img{width: 20vw; position: absolute; margin: 9px 3px;}
    .content .box img:nth-child(1){width: 20vw; height: 35vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 20.5vw; height: 17.3vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 17.7vw; left: 20.5vw; height: 17.3vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 35.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 35.5vw; left: 20.5vw;}
    .content .box .baking img:nth-child(1){width: 20vw; height: 35vw; object-fit:cover; left: 0;}
    .content .box .baking img:nth-child(2){left: 20.5vw; height: 17.3vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 17.7vw; left: 20.5vw; height: 17.3vw;  object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 35.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 35.5vw; left: 20.5vw;}
    .content .box .txt{width: 92%; margin: 40px; position: absolute; top: 15%; left: 80%; color: #fff; transform: skew(0, 18deg);}
    .content .box .txt p:nth-child(1){font-size: 4vw; width: 9vw; text-align: right; margin-left: 6vw;}
    .content .box .txt p:nth-child(2){padding: 6vw; font-size: 1.8vw;}
    .content .box .baking .txt p:nth-child(2){margin-top: -10px;}
}
@media screen and (min-width: 641px) and (max-width: 720px){

    .content-wrap{margin: 100px 10px 0 120px ; display: flex; flex-wrap: wrap;}
    .content .stair .exit{width: 20vw; height: 50px; top: 20px; left: 66%;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 30px; top: 62.5%; left: 48.5%;}
    .content .stair ul li a p{font-size: 4vw; line-height: 7.5vw;}
    .content .stair ul li:nth-child(1) p{top: 70.7%; left: 28.5%; width: 34.5vw; height: 8.2vw;}
    .content .stair ul li:nth-child(2) p{top: 79.7%; left: 14.2%; width: 34.6vw; height: 8.2vw;}
    .content .stair ul li:nth-child(3) p{top: 88.7%; width: 34.6vw; height: 8.2vw;}

    .content .box{width: 41.5vw; height: 62vw; top: 8.4vw; left: 5%;border: 0px solid #000;}
    .content .box .pic{width: 100%; max-height: 90%;}
    .content .box img{width: 20vw; position: absolute; margin: 9px 3px;}
    .content .box img:nth-child(1){width: 20vw; height: 38vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 20.5vw; height: 18.7vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 19.3vw; left: 20.5vw; height: 18.7vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 38.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 38.5vw; left: 20.5vw;}
    .content .box .baking img:nth-child(1){width: 20vw; height: 38vw; object-fit:cover; left: 0;}
    .content .box .baking img:nth-child(2){left: 20.5vw; height: 18.7vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 19.3vw; left: 20.5vw; height: 18.7vw;  object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 38.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 38.5vw; left: 20.5vw;}
    .content .box .txt{width: 92%; margin: 40px; position: absolute; top: 15%; left: 80%; color: #fff; transform: skew(0, 18deg);}
    .content .box .txt p:nth-child(1){font-size: 4vw; width: 9vw; text-align: right; margin-left: 6vw;}
    .content .box .txt p:nth-child(2){padding: 6vw; font-size: 1.8vw;}
    .content .box .baking .txt p:nth-child(2){margin-top: -10px;}
}

@media screen and (min-width: 576px) and (max-width: 640px){

    .content-wrap{margin: 100px 20px 0 40px ; display: flex; flex-wrap: wrap;}
    .content .stair img{max-width: 31vw; margin-top: 60px;}
    .content .stair .exit{width: 20vw; height: 50px; top: 20px; left: 69%;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 30px; top: 62.5%; left: 48.5%;}
    .content .stair ul li a p{font-size: 31px; line-height: 8.5vw;}
    .content .stair ul li:nth-child(1) p{top: 70.7%; left: 28.5%; width: 38.8vw; height: 9.3vw;}
    .content .stair ul li:nth-child(2) p{top: 79.7%; left: 14.2%; width: 38.9vw; height: 9.3vw;}
    .content .stair ul li:nth-child(3) p{top: 88.7%; width: 38.7vw; height: 9.3vw;}

    .content .box{width: 51.5vw; height: 69.7vw; top: 9.5vw; left: 0;border: 0px solid #000;}
    .content .box .pic{max-width: 100%; max-height: 90%;}
    .content .box img{width: 23vw; position: absolute; margin: 13px 13px;}
    .content .box img:nth-child(1){width: 23vw; height: 42vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 23.7vw; height: 21vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 21.5vw; left: 23.7vw; height: 20.5vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 42.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 42.5vw; left: 23.7vw;}
    .content .box .baking img:nth-child(1){top: 0vw; left: 23.7vw; width: 23vw; height: 42vw; object-fit:cover;}
    .content .box .baking img:nth-child(2){left: 0vw; height: 21vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 21.5vw; left: 0vw; height: 20.5vw; object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 42.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 42.5vw; left: 23.7vw;}
    .content .box .txt{width: 92%; margin: 40px; position: absolute; top: 15%; left: 80%; color: #fff; }
    .content .box .txt p:nth-child(1){font-size: 4vw; width: 9vw; text-align: right; margin-left: 7vw;transform: skew(0, 18deg); background-color: rgba(0,0,0,0);}
    .content .box .txt p:nth-child(2){padding: 7vw; font-size: 2.2vw;transform: skew(0, 18deg);}
    .content .box .baking .txt p:nth-child(2){margin-top: -5px;}
}

@media screen and (min-width: 501px) and (max-width: 575px){

    .content-wrap{margin: 100px 20px 0 40px ; display: flex; flex-wrap: wrap;}
    .content .stair img{max-width: 31vw; margin-top: 60px;}
    .content .stair .exit{width: 20vw; height: 50px; top: 20px; left: 69%;}
    .content .stair .exit p{font-size: 35px;}
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 25px; top: 62.5%; left: 48.5%;}
    .content .stair ul li a p{font-size: 25px; line-height: 8.5vw;}
    .content .stair ul li:nth-child(1) p{top: 71%; left: 28.5%; width: 38.4vw; height: 9.3vw;}
    .content .stair ul li:nth-child(2) p{top: 79.8%; left: 14.2%; width: 38.5vw; height: 9.3vw;}
    .content .stair ul li:nth-child(3) p{top: 88.8%; width: 38.6vw; height: 9.3vw;}

    .content .box{width: 51.5vw; height: 69.7vw; top: 9.5vw; left: 0;border: 0px solid #000;}
    .content .box .pic{max-width: 100%; max-height: 90%;}
    .content .box img{width: 23vw; position: absolute; margin: 13px 13px;}
    .content .box img:nth-child(1){width: 23vw; height: 42vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 23.7vw; height: 21vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 21.5vw; left: 23.7vw; height: 20.5vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 42.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 42.5vw; left: 23.7vw;}
    .content .box .baking img:nth-child(1){top: 0vw; left: 23.7vw; width: 23vw; height: 42vw; object-fit:cover;}
    .content .box .baking img:nth-child(2){left: 0vw; height: 21vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 21.5vw; left: 0vw; height: 20.5vw; object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 42.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 42.5vw; left: 23.7vw;}
    .content .box .txt{width: 92%; margin: 30px; position: absolute; top: 15%; left: 80%; color: #fff; }
    .content .box .txt p:nth-child(1){font-size: 4vw; width: 9vw; text-align: right; margin-left: 7vw;transform: skew(0, 18deg); background-color: rgba(0,0,0,0);}
    .content .box .txt p:nth-child(2){padding: 7vw; font-size: 2.2vw;transform: skew(0, 18deg);}
    .content .box .baking .txt p:nth-child(2){margin-top: -5px;}
}

@media screen and (min-width: 401px)  and (max-width: 500px){

    .content-wrap{margin: 100px 20px 0 20px ; display: flex; flex-wrap: wrap;}
    .content .stair img{max-width: 31vw; margin-top: 60px;}
    .content .stair .exit{width: 20vw; height: 30px; top: 35px; left: 68%;}
    .content .stair .exit p{font-size: 28px; line-height: 30px; }
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 20px; top: 63.5%; left: 46.5%;}
    .content .stair ul li a p{font-size: 20px; line-height: 8.5vw;}
    .content .stair ul li:nth-child(1) p{top: 71.1%; left: 28.5%; width: 39.5vw; height: 9.3vw;}
    .content .stair ul li:nth-child(2) p{top: 80%; left: 14%; width: 39.6vw; height: 9.3vw;}
    .content .stair ul li:nth-child(3) p{top: 88.9%; width: 39.3vw; height: 9.3vw;}

    .content .box{width: 51.5vw; height: 69.7vw; top: 14vw; left: 0;border: 0px solid #000;}
    .content .box .pic{max-width: 100%; max-height: 90%;}
    .content .box img{width: 23vw; position: absolute; margin: 13px 13px;}
    .content .box img:nth-child(1){width: 23vw; height: 42vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 23.7vw; height: 21vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 21.5vw; left: 23.7vw; height: 20.5vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 42.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 42.5vw; left: 23.7vw;}
    .content .box .baking img:nth-child(1){top: 0vw; left: 23.7vw; width: 23vw; height: 42vw; object-fit:cover;}
    .content .box .baking img:nth-child(2){left: 0vw; height: 21vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 21.5vw; left: 0vw; height: 20.5vw; object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 42.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 42.5vw; left: 23.7vw;}
    .content .box .txt{width: 92%; margin: 40px; position: absolute; top: 3%; left: 76%; color: #fff; }
    .content .box .txt p:nth-child(1){font-size: 4vw; width: 9vw; text-align: right; margin-left: 7vw;transform: skew(0, 18deg); background-color: rgba(0,0,0,0);}
    .content .box .txt p:nth-child(2){padding: 7vw; font-size: 2.2vw;transform: skew(0, 18deg);}
    .content .box .baking .txt p:nth-child(2){margin-top: -5px;}
}

@media screen and (max-width: 400px){

    .content-wrap{margin: 100px 20px 0 20px ; display: flex; flex-wrap: wrap;}
    .content .stair img{max-width: 31vw; margin-top: 60px;}
    .content .stair .exit{width: 20vw; height: 30px; top: 35px; left: 68%;}
    .content .stair .exit p{font-size: 28px; line-height: 30px; }
    .content .stair img{max-width: 100%;}
    .content .stair > p{font-size: 20px; top: 63.5%; left: 46.5%;}
    .content .stair ul li a p{font-size: 20px; line-height: 8.5vw;}
    .content .stair ul li:nth-child(1) p{top: 71.8%; left: 28.5%; width: 38.8vw; height: 9.3vw;}
    .content .stair ul li:nth-child(2) p{top: 80.5%; left: 14%; width: 38.9vw; height: 9.3vw;}
    .content .stair ul li:nth-child(3) p{top: 89%; width: 38.7vw; height: 9.3vw;}

    .content .box{width: 51.5vw; height: 69.7vw; top: 14vw; left: 0;border: 0px solid #000;}
    .content .box .pic{max-width: 100%; max-height: 90%;}
    .content .box img{width: 23vw; position: absolute; margin: 13px 13px;}
    .content .box img:nth-child(1){width: 23vw; height: 42vw; object-fit:cover;}
    .content .box img:nth-child(2){left: 23.7vw; height: 21vw; object-fit:cover;}
    .content .box img:nth-child(3){top: 21.5vw; left: 23.7vw; height: 20.5vw; object-fit:cover;}
    .content .box img:nth-child(4){top: 42.5vw; left: 0vw;}
    .content .box img:nth-child(5){top: 42.5vw; left: 23.7vw;}
    .content .box .baking img:nth-child(1){top: 0vw; left: 23.7vw; width: 23vw; height: 42vw; object-fit:cover;}
    .content .box .baking img:nth-child(2){left: 0vw; height: 21vw; object-fit:cover;}
    .content .box .baking img:nth-child(3){top: 21.5vw; left: 0vw; height: 20.5vw; object-fit:cover;}
    .content .box .baking img:nth-child(4){top: 42.5vw; left: 0vw;}
    .content .box .baking img:nth-child(5){top: 42.5vw; left: 23.7vw;}
    .content .box .txt{width: 92%; margin: 40px; position: absolute; top: 2%; left: 70%; color: #fff; }
    .content .box .txt p:nth-child(1){font-size: 4vw; width: 9vw; text-align: right; margin-left: 7vw;transform: skew(0, 18deg); background-color: rgba(0,0,0,0);}
    .content .box .txt p:nth-child(2){padding: 7vw; font-size: 2.2vw;transform: skew(0, 18deg);}
    .content .box .baking .txt p:nth-child(2){margin-top: -5px;}
}