@charset "utf-8";
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0; font-family: 'S-CoreDream-3Light';}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
html, body {max-width: 100%; overflow-x: hidden;}


.header{max-width: 100%;}
.header > img{width: 100%; z-index: -1; position: absolute;}
.header .header-wrap{max-width: 1920px; display: flex; height: 1030px;}
.header .phone{max-width: 1300px; margin-top: 100px;}
.header .phone img{width: 90%;}
.header .text{width: 515px; margin-top: 300px; color: #fff; font-size: 20px;}
.header .text img{margin: 10px 0; width: 100%;}
.header .text p:last-child{text-align: right;}
.header .skill ul{width: 200px;display: flex; position: absolute;top: 65%;right: 40px;}
.header .skill ul li{width: 70px;}

.middle{width: 100%; height: 3450px;}
.middle > img{width: 100%; position: absolute;z-index: -1;}
.middle .middle-wrap{text-align: center;}
.middle .overview{padding-top: 180px; height: 1000px;}
.middle .overview h3{margin: 150px 0 130px 0; font-size: 30px; font-style: italic; font-weight: bold; font-family: 'S-CoreDream-6Bold'; color: #545454;}
.middle .project-goal{width: 100%; height: 500px; background-color: #f7f5ff;}
.middle .project-goal .bg{padding: 70px; position: relative;}
.middle .persona{margin-top: 300px;}
.middle .persona .title{margin-bottom: 100px;}
.middle .persona .content{width: 1500px; margin: 0 auto; display: flex; justify-content: space-between;}

.userflow{width: 100%; height: 1700px; text-align: center;}
.userflow .title{margin: 300px 0 200px;}

.design_process{width: 100%; height: 1100px; text-align: center;}
.design_process .title{margin-bottom: 200px;}
.design_process .content{width: 1600px; margin: 0 auto; display: flex; justify-content: space-between;}

.screen{width: 100%; position: relative;}
.screen .title{margin-bottom: 400px; text-align: center;}
.screen .s_1{width: 100%; height: 900px;}
.screen .s_1 .bg{text-align: left; position: absolute;}
.screen .s_1 .content{position: absolute; top: 270px; left: 200px;}
.screen .s_1 .content img:last-child{position: absolute; right: -20%; top: 370px;}
.screen .s_2{width: 100%; height: 1000px; position: relative;}
.screen .s_2 .bg{position: absolute; right: 0; top: 200px;}
.screen .s_2 .content{position: absolute; top: 0; right: 70px;}
.screen .s_2 .content img:last-child{position: absolute; top: 380px; left: -9%;}
.screen .s_3-7{width: 100%; background-color: #f7f5ff; position: relative; height: 2400px;}
.screen .s_3-7 .bg{padding-top: 200px;}
.screen .s_3-7 .s_3{position: absolute; left: 17%;}
.screen .s_3-7 .s_4{position: absolute; right: 100px; top: 10.1%;}
.screen .s_3-7 .s_5{position: absolute; top: 26.2%; left: 64px;}
.screen .s_3-7 .s_6{position: absolute; top: 46.2%; left: 58.4%;}
.screen .s_3-7 .s_7{position: absolute; top: 47.13%; left: 25.1%;}
.screen .s_8-10{width: 100%; height: 1000px; margin-top: 150px; position: relative;}
.screen .s_8{position: absolute; top: 16.7%; left: 34.3%;}
.screen .s_9{position: absolute; top: 0; left: 2%;}
.screen .s_10{position: absolute; top: 49%; right: 110px;}
.screen .s_11-13{width: 100%; margin-top: 300px;position: relative; height: 1500px;}
.screen .s_11-13 .bg{position: absolute;overflow: hidden;}
.screen .s_11-13 .bg img{width: 100%; transform: scale(1.01);}
.screen .s_11{position: absolute; top: 15%; left: 5%;}
.screen .s_12{position: absolute; top: 20.5%; left: 27.5%;}
.screen .s_13{position: absolute; top: 20.5%; left: 56%;}

.last img{width: 100%; margin-top: 156px;}



@media screen and (min-width:641px) and (max-width:1200px){

    .header .header-wrap{height: 700px;}
    .header .phone{margin-top: 90px;}
    .header .text{width: 350px; margin: 250px 70px 0 0; font-size: 14px;}
    .header .skill ul{top: 45%; width: 100px; gap: 10px;}
    .header .skill ul li{width: 30px;}
    .header .skill ul li img{width: 100%;}

    .middle{height: 2500px;}
    .middle > img{height: 2600px;}
    .middle .overview{height: 650px;}
    .middle .overview img{width: 178px;}
    .middle .overview img:last-child{width: 50%;}
    .middle .overview h3{margin: 100px 0 100px 0; font-size: 20px;}
    .middle .project-goal{height: 400px;}
    .middle .project-goal .bg img{width: 100%;}
    .middle .persona{margin-top: 200px;}
    .middle .persona .title{margin-bottom: 100px;}
    .middle .persona .title img{height: 51px;}
    .middle .persona .content{max-width: 1000px;}
    .middle .persona .content img{width: 50%;}

    .userflow{height: 1200px;}
    .userflow .title{margin: 300px 0 150px;}
    .userflow .title img{height: 51px;}
    .userflow > img{width: 80%;}

    .design_process{width: 100%; height: 850px;}
    .design_process .title{margin-bottom: 200px;}
    .design_process .title img{height: 51px;}
    .design_process .content{max-width: 1000px;}
    .design_process .content img{width: 50%;}

    .screen .title img{height: 51px;}
    .screen .s_1{height: 500px;}
    .screen .s_1 .bg img{width: 65%;}
    .screen .s_1 .content{top: 320px; left: 40px;}
    .screen .s_1 .content img{width: 77%;}
    .screen .s_1 .content img:last-child{width: 30%; left: 67%; top: 230px;}
    .screen .s_2{height: 800px;}
    .screen .s_2 .bg{top: 200px; right: -42%;}
    .screen .s_2 .bg img{width: 65%;}
    .screen .s_2 .content{position: absolute; top: 80px; right: -45%;}
    .screen .s_2 .content img{width: 60%;}
    .screen .s_2 .content img:last-child{width: 14%; top: 230px; left: -7%;}

    .screen .s_3-7{height: 1500px;}
    .screen .s_3-7 .bg{padding-top: 150px;}
    .screen .s_3-7 .bg img{width: 60%;}
    .screen .s_3-7 .s_3{left: 15%;}
    .screen .s_3-7 .s_4{right: -20%; top: 11.7%;}
    .screen .s_3-7 .s_5{top: 27.3%; left: 16px;}
    .screen .s_3-7 .s_6{top: 46.4%; left: 56.4%;}
    .screen .s_3-7 .s_6 img{width: 69%;}
    .screen .s_3-7 .s_7{top: 47.3%; left: 23.1%;}

    .screen .s_8-10{height: 500px; margin-top: 150px;}
    .screen .s_8-10 img{width: 60%;}
    .screen .s_8{ top: 10%; left: 34%;}
    .screen .s_8 img{width: 75%;}
    .screen .s_9{top: 0; left: 2%;}
    .screen .s_10{top: 29%; right: -18%}
    .screen .s_11-13{width: 100%; margin-top: 300px;position: relative; height: 1000px;}
    .screen .s_11-13 .bg{position: absolute; overflow: hidden;}
    .screen .s_11-13 .bg img{width: 100%; transform: scale(1.01);}
    .screen .s_11{position: absolute; top: 0; left: 1%;}
    .screen .s_11 img{width: 66.5%;}
    .screen .s_12{position: absolute; top: 3.9%; left: 26.5%;}
    .screen .s_12 img{width: 66%;}
    .screen .s_13{position: absolute; top: 4.5%; left: 57.5%;}
    .screen .s_13 img{width: 80%;}

    .last img{margin-top: 0px;}

}
@media screen and (max-width:640px){

    .header > img{width: 200%;}
    .header .header-wrap{height: 730px; flex-wrap: wrap-reverse;}
    .header .phone{max-width: 1300px; margin: 0 0 50px 0;}
    .header .phone img{width: 98%;}
    .header .text{width: 300px; height: 200px; margin: 50px ; font-size: 15px;}
    .header .text img{margin: 10px 0; width: 100%;}
    .header .text p:last-child{text-align: right;}
    .header .skill ul{width: 100px;display: flex; top: 15%; right: 40px;}
    .header .skill ul li{width: 50px;}
    .header .skill ul li img{width: 30px;}

    .middle{height: 3100px;}
    .middle > img{height: 3200px;}
    .middle .overview{height: 600px;}
    .middle .overview img{width: 120px;}
    .middle .overview img:last-child{width: 75%;}
    .middle .overview h3{margin: 100px 0 100px 0; font-size: 18px;}
    .middle .project-goal{height: 280px;}
    .middle .project-goal .bg{padding: 5px;}
    .middle .project-goal .bg img{width: 100%; margin-top: 50px;}
    .middle .persona{margin-top: 200px;}
    .middle .persona .title{margin-bottom: 100px;}
    .middle .persona .title img{height: 34px;}
    .middle .persona .content{max-width: 500px; flex-wrap: wrap; gap: 50px;}
    .middle .persona .content img{width: 100%;}

    .userflow{height: 900px;}
    .userflow .title{margin: 300px 0 150px;}
    .userflow .title img{height: 34px;}
    .userflow > img{width: 100%;}

    .design_process{width: 100%; height: 900px;}
    .design_process .title{margin-bottom: 100px;}
    .design_process .title img{height: 34px;}
    .design_process .content{max-width: 500px; flex-wrap: wrap; gap: 50px;}
    .design_process .content img{width: 100%;}

    .screen .title{margin-bottom: 250px;}
    .screen .title img{height: 34px;}
    .screen .s_1{height: 400px;}
    .screen .s_1 .bg img{width: 80%;}
    .screen .s_1 .content{top: 180px; left: -20px;}
    .screen .s_1 .content img{width: 95%;}
    .screen .s_1 .content img:last-child{width: 50%; left: 10%; top: 380px;}
    
    .screen .s_2{height: 650px;}
    .screen .s_2 .bg{top: 200px; right: -54%;}
    .screen .s_2 .bg img{width: 65%;}
    .screen .s_2 .content{top: 130px; right: -65%; margin-left: 10px;}
    .screen .s_2 .content img{width: 60%;}
    .screen .s_2 .content img:last-child{width: 20%; top: 350px; left: 38%;}

    .screen .s_3-7{height: 3800px;}
    .screen .s_3-7 .bg{padding-top: 100px;}
    .screen .s_3-7 .bg img{width: 100%;}
    .screen .s_3-7 .s_3{left: 2%;}
    .screen .s_3-7 .s_4{left: -2%; top: 40%;}
    .screen .s_3-7 .s_4 img{width: 110%;}
    .screen .s_3-7 .s_5{top: 22.3%; left: -20px;}
    .screen .s_3-7 .s_5 img{width: 103%;}
    .screen .s_3-7 .s_6{top: 77.7%; left: -3%;}
    .screen .s_3-7 .s_6 img{width: 80%;}
    .screen .s_3-7 .s_7{top: 56.3%; left: 11.5%;}
    .screen .s_3-7 .s_7 img{width: 98%;}

    .screen .s_8-10{height: 1800px; margin-top: 100px;}
    .screen .s_8-10 img{width: 100%;}
    .screen .s_8{top: 0; left: -7%; margin-right: 10px;}
    .screen .s_9{top: 70%; left: 2%;}
    .screen .s_9 img{width: 102%;}
    .screen .s_10{top: 35%; right: 5%; margin-left: 90px;}
    .screen .s_11-13{width: 930px; margin-top: 200px; position: relative; height: 1600px;}
    .screen .s_11-13 .bg{overflow: hidden;}
    .screen .s_11-13 .bg img{width: 200%; transform: scale(1.01);}
    .screen .s_11{top: 0; left: -3%;}
    .screen .s_11 img{width: 66.5%;}
    .screen .s_12{top: 15.5%; left: 20%;}
    .screen .s_12 img{width: 66%;}
    .screen .s_13{top: 45.5%; left: -10%;}
    .screen .s_13 img{width: 66%;}

    .last img{margin-top: 18px;}

}